Repository zebadrabbit/Adventure: changes, and which pre-commit hooks are due for each by the changed paths.
All: inline-style-check, inline-script-check, manual-version-token-check, optimize_svgs, deprecated-sqlalchemy-query-get

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: inline-style-check
        name: Inline style attribute check
        entry: python scripts/check_inline_styles.py
        language: system
        pass_filenames: false
        types: [html]
      - id: inline-script-check
        name: Inline script block check
        entry: python scripts/check_inline_scripts.py
        language: system
        pass_filenames: false
        types: [html]
      - id: manual-version-token-check
        name: Manual static version token check
        entry: python scripts/check_static_version_tokens.py
        language: system
        pass_filenames: false
        types: [html]
      - id: optimize_svgs
        name: Optimize SVG assets
        entry: python scripts/optimize_svgs.py
        language: system
        files: '\\.(svg)$'
        stages: [commit]
      - id: deprecated-sqlalchemy-query-get
        name: Deprecated SQLAlchemy Query.get usage
        entry: python scripts/check_deprecated_query_get.py
        language: system
        pass_filenames: false
        types: [python]

feat(dungeon): add fog-of-war limited visibility radius (3 tiles) to adventure map
  app/static/dashboard.css
  app/static/js/adventure.js
Due: none

feat(dungeon): implement expanded gradient fog-of-war (black radial manhattan fade)
  app/static/js/adventure.js
Due: none

tweak(fog): enlarge clear radius (6) and lighten fog gradient (0.05-0.55 up to 22)
  app/static/js/adventure.js
Due: none

feat(fog): darker stepped gradient with deterministic noise variation
  app/static/js/adventure.js
Due: none

feat(fow): smooth radial fog-of-war with memory of explored tiles
  app/static/js/adventure.js
  instance/mud.db
Due: none

feat(fow): persist seen tiles via localStorage + skip redundant style writes
  app/static/js/adventure.js
Due: none

feat(fow): server persistence, admin fog modal (external JS), config persistence + dev utilities
  app/models/models.py
  app/routes/dungeon_api.py
  app/static/js/adventure.js
  app/static/js/fog_admin_modal.js
  app/templates/base.html
  app/templates/partials/fog_admin_modal.html
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

feat(db): add explored_tiles migration + defensive persistence fallback and upgrade script
  app/routes/dungeon_api.py
  app/server.py
  instance/mud.db
  scripts/upgrade_explored_tiles.py
Due: deprecated-sqlalchemy-query-get

feat(fow): explored tiles persistence tests, admin clear, compression, schema version tracking
  README.md
  app/routes/dungeon_api.py
  app/server.py
  app/utils/tile_compress.py
  tests/test_lazy_migration_explored_tiles.py
  tests/test_seen_tiles_persistence.py
Due: deprecated-sqlalchemy-query-get

feat(fow): rate limiting, pruning policy, metrics endpoint, admin diagnostics UI, Alembic scaffold
  README.md
  alembic.ini
  app/routes/dungeon_api.py
  app/static/js/fog_admin_modal.js
  app/templates/partials/fog_admin_modal.html
  instance/mud.db
  migrations/README
  migrations/env.py
  migrations/script.py.mako
  requirements.txt
  tests/test_seen_tiles_metrics.py
  tests/test_seen_tiles_persistence.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

chore(setup): add interactive colorful setup script and docs
  README.md
  scripts/setup_adventure.py
Due: deprecated-sqlalchemy-query-get

fix(setup): robust app import and context handling
  scripts/setup_adventure.py
Due: deprecated-sqlalchemy-query-get

feat(setup): non-interactive flags, JSON output, alembic integration, quiet route map
  README.md
  app/__init__.py
  scripts/setup_adventure.py
Due: deprecated-sqlalchemy-query-get

feat(setup): verbosity flags and auto secret key generation
  README.md
  scripts/setup_adventure.py
Due: deprecated-sqlalchemy-query-get

feat(dungeon): prevent linear door chains and add test/documentation
  README.md
  app/dungeon.py
  tests/test_door_chains.py
Due: deprecated-sqlalchemy-query-get

test: add strict mode seed scan + marker; docs: document strict/perf tests and legacy admin event deprecation
  README.md
  app/websockets/lobby.py
  pytest.ini
  tests/test_dungeon_strict_mode.py
Due: deprecated-sqlalchemy-query-get

fix(websocket): harden admin_online_users gating using session-based auth; test: sanitize anon fixture and strict flag cleanup
  app/websockets/lobby.py
  tests/test_dungeon_strict_mode.py
  tests/test_lobby_extended.py
Due: deprecated-sqlalchemy-query-get

feat(dungeon): prune dense door clusters and orphan tunnels; add structure test
  app/dungeon.py
  pytest.ini
  tests/test_dungeon_structure_cleanup.py
Due: deprecated-sqlalchemy-query-get

docs(release): v0.4.0 changelog, README updates, metrics; minor pruning perf cache
  README.md
  VERSION
  app/dungeon.py
  docs/CHANGELOG.md
Due: deprecated-sqlalchemy-query-get

test(perf): stabilize dungeon generation performance guard using median + trimmed mean
  tests/test_dungeon_performance_regression.py
Due: deprecated-sqlalchemy-query-get

release: v0.5.0 moderation panel, temp mutes, phase timing instrumentation
  README.md
  VERSION
  app/__init__.py
  app/dungeon/__init__.py
  app/dungeon/cells.py
  app/dungeon/connectivity.py
  app/dungeon/doors.py
  app/dungeon/features.py
  app/dungeon/generator.py
  app/dungeon/metrics.py
  app/dungeon/pipeline.py
  app/dungeon/pruning.py
  app/logging_utils.py
  app/models/models.py
  app/routes/config_api.py
  app/routes/dashboard.py
  app/routes/dungeon_api.py
  app/static/js/admin-settings.js
  app/static/js/adventure.js
  app/static/js/dashboard-autofill.js
  app/templates/base.html
  app/templates/dashboard.html
  app/templates/partials/server_settings_modal.html
  app/websockets/game.py
  app/websockets/lobby.py
  docs/CHANGELOG.md
  run.py
  tests/conftest.py
  tests/test_admin_actions.py
  tests/test_admin_moderation.py
  tests/test_admin_status.py
  tests/test_autofill_characters.py
  tests/test_door_invariants.py
  tests/test_dungeon_corner_nubs.py
  tests/test_generation_metrics.py
  tests/test_moderation_persistence_rate.py
  tests/test_no_room_tunnel_adjacency.py
  tests/test_room_connectivity.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

feat(frontend): dynamic class color fetch & css var application on adventure page
  app/static/js/adventure.js
Due: none

feat(dungeon): prevent tunnels from overwriting walls; only punch door tiles + add regression test
  app/dungeon/tunnels.py
  tests/test_dungeon_no_wall_overwrite.py
Due: deprecated-sqlalchemy-query-get

feat(dungeon): pathfinding tunnels preserve wall rings; add cleanup to enforce single-door entries and regression tests
  app/dungeon/tunnels.py
Due: deprecated-sqlalchemy-query-get

dungeon: prune redundant doors and guarantee entrance exit; add redundancy regression test
  app/dungeon/tunnels.py
  tests/test_dungeon_no_redundant_doors.py
Due: deprecated-sqlalchemy-query-get

feat(dungeon): add donjon-inspired generator with connectivity + invariants
  app/dungeon/__init__.py
  app/dungeon/dungeon.py
  app/dungeon/old/__init__.py
  app/dungeon/old/config.py
  app/dungeon/old/dungeon.py
  app/dungeon/old/rooms.py
  app/dungeon/old/tiles.py
  app/dungeon/old/tunnels.py
Due: deprecated-sqlalchemy-query-get

fix(dashboard): tolerate missing primary stats during class inference and add regression test
  app/routes/dashboard.py
  tests/test_dashboard_missing_stats.py
Due: deprecated-sqlalchemy-query-get

fix(tooltips): add plaintext fallback, aria-label, and decode rich HTML in JS fallback
  app/static/js/tooltips.js
Due: none

feat(inventory,ui): event-driven character inventory refresh and icon-only Equipment/Bags buttons with tooltips
  app/static/dashboard.css
  app/static/js/adventure.js
  app/static/js/equipment.js
  app/templates/adventure.html
  app/templates/dashboard.html
Due: inline-style-check, inline-script-check, manual-version-token-check

feat(time): add global non-combat game clock with tick advancement on movement and search
  app/models/__init__.py
  app/models/models.py
  app/routes/dashboard.py
  app/routes/dungeon_api.py
  app/services/time_service.py
  app/static/js/time-widget.js
  app/templates/adventure.html
  app/templates/dashboard.html
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

feat(time): action cost table, advance_for(), combat gating scaffold, endpoints refactored, inventory hooks, tests
  app/models/models.py
  app/routes/dungeon_api.py
  app/routes/inventory_api.py
  app/server.py
  app/services/time_service.py
  app/static/dashboard.css
  app/static/js/equipment.js
  app/static/js/tooltips.js
  instance/mud.db
  tests/test_time_system.py
Due: deprecated-sqlalchemy-query-get

feat(monsters): add MonsterCatalog model, spawn service, seed SQL, tests
  app/models/__init__.py
  app/models/models.py
  app/server.py
  app/services/spawn_service.py
  sql/README.md
  sql/monsters_seed.sql
  tests/test_monsters.py
Due: deprecated-sqlalchemy-query-get

feat(combat): add CombatSession model, configurable encounter spawn & rarity weights, persistence + tests
  README.md
  app/models/models.py
  app/routes/dashboard.py
  app/routes/dungeon_api.py
  app/server.py
  app/services/combat_utils.py
  app/services/loot_service.py
  app/services/spawn_service.py
  app/services/time_service.py
  app/static/js/time-widget.js
  app/templates/adventure.html
  app/templates/dashboard.html
  instance/mud.db
  sql/README.md
  tests/test_encounter_config.py
  tests/test_time_system.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

feat(combat): initial combat UI (template+js), combat blueprint, encounter redirect
  app/routes/combat_api.py
  app/routes/dungeon_api.py
  app/static/js/adventure.js
  app/static/js/combat.js
  app/templates/combat.html
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

feat(socket): add real-time dungeon events (move/search/claim) on /game namespace
  app/websockets/game.py
Due: deprecated-sqlalchemy-query-get

feat(socket): migrate movement and search to WebSocket with REST fallback
  app/static/js/adventure.js
Due: none
