Repository zebadrabbit/Adventure: changes, and which pre-commit hooks are due for each by the changed paths.
All: inline-style-check, inline-script-check, manual-version-token-check, optimize_svgs, deprecated-sqlalchemy-query-get

inline-style-check:
  name: Inline style attribute check
  entry: python scripts/check_inline_styles.py
  language: system
  pass_filenames: false

inline-script-check:
  name: Inline script block check
  entry: python scripts/check_inline_scripts.py
  language: system
  pass_filenames: false

manual-version-token-check:
  name: Manual static version token check
  entry: python scripts/check_static_version_tokens.py
  language: system
  pass_filenames: false

optimize_svgs:
  name: Optimize SVG assets
  entry: python scripts/optimize_svgs.py
  language: system
  stages:
  - commit

deprecated-sqlalchemy-query-get:
  name: Deprecated SQLAlchemy Query.get usage
  entry: python scripts/check_deprecated_query_get.py
  language: system
  pass_filenames: false

chore: auto bump version to 0.7.17
  CHANGELOG.md
  VERSION
Due: none

fix(combat): render human-readable loot summary in combat log
  app/services/combat_service.py
  app/services/loot_service.py
  app/static/js/combat.js
  tests/test_loot_summary.py
Due: deprecated-sqlalchemy-query-get

docs(plan): class skill trees + starting skills + full-clear bonus
  docs/superpowers/plans/2026-07-17-class-skills-fullclear.md
Due: none

chore: auto bump version to 0.7.18
  CHANGELOG.md
  VERSION
Due: none

feat(skills): seed six class-archetype skill trees (27 skills)
  app/seed_skills.py
  tests/test_seed_skills_archetypes.py
Due: deprecated-sqlalchemy-query-get

feat(skills): enforce class-gated skill trees (comma-separated classes), filter tree UI
  app/models/skill.py
  app/routes/skill_api.py
  app/static/js/skill-tree.js
  app/templates/dashboard.html
  tests/test_skill_class_gating.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

feat(progression): new characters start with their class's tier-1 active skill
  app/routes/dashboard.py
  app/routes/dashboard_helpers.py
  app/services/progression.py
  tests/factories.py
  tests/test_autofill_characters.py
  tests/test_starting_skills.py
Due: deprecated-sqlalchemy-query-get

chore: auto bump version to 0.7.19
  CHANGELOG.md
  VERSION
Due: none

feat(ui): show full-clear bonus line on extraction confirmation
  app/static/js/adventure-extraction.js
Due: none

feat(extraction): full-clear bonus (copper mult + xp bonus + achievement)
  app/seed_dungeon_achievements.py
  app/services/extraction_service.py
  app/services/progression.py
  tests/test_full_clear_bonus.py
Due: deprecated-sqlalchemy-query-get

feat(seed): backfill starting skills for pre-existing characters in seed-skills
  run.py
Due: deprecated-sqlalchemy-query-get

docs(todo): class skill trees + full-clear bonus shipped; deploy seed steps
  docs/superpowers/TODO.md
  docs/superpowers/plans/2026-07-17-class-skills-fullclear.md
Due: none

chore: auto bump version to 0.7.20
  CHANGELOG.md
  VERSION
Due: none

feat(combat): mana potion action mirroring healing potion (per-character, capped, class-gated button)
  app/routes/combat_api.py
  app/services/combat_service.py
  app/static/js/combat.js
  app/templates/combat.html
  tests/test_potions_per_character.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

chore: delete dead purple-gradient rules; align full-clear xp guard with copper guard
  app/services/extraction_service.py
  app/static/css/glass-theme.css
Due: deprecated-sqlalchemy-query-get

chore: auto bump version to 0.7.21
  CHANGELOG.md
  VERSION
Due: none

feat(combat): active skills consume mana (tiered costs, reject when dry, UI gating)
  app/models/skill.py
  app/routes/skill_api.py
  app/seed_skills.py
  app/services/combat_service.py
  app/static/js/combat.js
  migrations/versions/c8f1a2b3d4e5_add_mana_cost_to_skill.py
  tests/test_cast_skill.py
Due: deprecated-sqlalchemy-query-get

chore: auto bump version to 0.7.22
  CHANGELOG.md
  VERSION
Due: none

fix(ui): move zoom controls below minimap; combat log turn separators + instant burst rendering
  app/static/css/combat.css
  app/static/js/combat.js
  app/templates/adventure.html
Due: inline-style-check, inline-script-check, manual-version-token-check

chore: auto bump version to 0.7.23
  CHANGELOG.md
  VERSION
Due: none

docs(plan): room events & pacing (shrines, traps, ambushes, bounded respawns)
  docs/superpowers/plans/2026-07-17-room-events-pacing.md
Due: none

feat(dungeon): shrines, traps, and ambush rooms resolve on step-on in the shared movement path
  app/dungeon/movement_handler.py
  app/dungeon/room_events.py
  tests/test_room_events_resolution.py
Due: deprecated-sqlalchemy-query-get

feat(ui): render shrines and surface room-event messages; docs
  app/static/js/adventure.js
  app/static/js/dungeon-canvas.js
  docs/superpowers/TODO.md
Due: none

feat(dungeon): seed shrine/trap/ambush room events per instance (hidden types filtered from clients)
  app/dungeon/room_events.py
  app/routes/dungeon_api.py
  tests/test_room_events_seeding.py
Due: deprecated-sqlalchemy-query-get

feat(dungeon): bounded wandering respawns (stop at cap and after boss falls)
  app/dungeon/api_helpers/encounters.py
  app/dungeon/spawn_manager.py
  app/routes/dungeon_api.py
  tests/test_wandering_respawns.py
Due: deprecated-sqlalchemy-query-get

fix(ui): persist shrine entities client-side so they survive monster broadcasts
  app/static/js/adventure.js
Due: none

chore: auto bump version to 0.7.24
  CHANGELOG.md
  VERSION
Due: none

docs(todo): record playtest follow-ups (mana economy, potions, log fixes) and open tuning items
  docs/superpowers/TODO.md
Due: none

chore: auto bump version to 0.7.25
  CHANGELOG.md
  VERSION
Due: none

feat(security): CSRF header guard, session-cookie hardening, Socket.IO same-origin default
  .env.example
  app/__init__.py
  app/static/js/api-guard.js
  app/templates/admin_base_new.html
  app/templates/base.html
  docker-compose.yml
  docs/superpowers/plans/2026-07-27-repo-health-review.md
  tests/test_csrf_guard.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

chore(security): bump vulnerable deps, add pip-audit + dependabot, gate client log endpoint
  .github/dependabot.yml
  .github/workflows/ci.yml
  app/routes/client_log_api.py
  requirements.txt
  tests/test_autofill_name_pools.py
Due: deprecated-sqlalchemy-query-get

fix(config): fail fast on missing/SQLite DATABASE_URL; prod-gate dev settings
  .env.example
  app/__init__.py
  run.py
Due: deprecated-sqlalchemy-query-get

ci: single coverage-gated test run; enforce exception-handling ratchet
  .github/workflows/ci.yml
  scripts/fix_exception_handling.py
Due: deprecated-sqlalchemy-query-get

refactor(logging): de-silence 82 except-pass handlers in the top three offenders
  .github/workflows/ci.yml
  app/routes/dungeon_api.py
  app/services/combat_service.py
  app/websockets/lobby.py
Due: deprecated-sqlalchemy-query-get

test(e2e): committed Playwright smoke suite + CI job
  .github/workflows/ci.yml
  e2e/test_smoke.py
Due: deprecated-sqlalchemy-query-get

docs(hygiene): prune TODO to open items only; archive stale docs; fix auto-bump matching
  .github/workflows/auto-bump.yml
  docs/archive/CORRIDOR_GAP_FIX.md
  docs/archive/DASHBOARD_FIX.md
  docs/archive/PROJECT_HEALTH_REPORT.md
  docs/archive/README.md
  docs/archive/STRUCTLOG_PROGRESS.md
  docs/archive/exception_report.md
  docs/superpowers/TODO.md
  docs/superpowers/TODO_ARCHIVE.md
Due: none

style: add missing trailing newlines to 16 CSS/SVG assets
  app/static/css/adv-theme.css
  app/static/css/class-badges.css
  app/static/css/classes.css
  app/static/css/footer.css
  app/static/css/tooltips.css
  app/static/css/utilities.css
  app/static/iconography/anvil.svg
  app/static/iconography/bloody-sword.svg
  app/static/iconography/campfire.svg
  app/static/iconography/cash.svg
  app/static/iconography/dungeon-gate.svg
  app/static/iconography/knapsack.svg
  app/static/iconography/potion-ball.svg
  app/static/iconography/token.svg
  app/static/iconography/trash-can.svg
  app/static/iconography/two-coins.svg
  docs/superpowers/TODO.md
Due: none

fix(e2e): use current .barracks-card markup for party selection
  e2e/test_smoke.py
Due: deprecated-sqlalchemy-query-get

refactor(dedupe): shared equipment logic module; fold dashboard HP/mana caps onto compute_hp_mana_max
  .github/workflows/ci.yml
  app/routes/dashboard_helpers.py
  app/services/character_stats.py
  app/services/combat_service.py
  app/static/js/equipment-enhanced.js
  app/static/js/equipment-shared.js
  app/static/js/equipment.js
  app/templates/adventure.html
  app/templates/dashboard.html
  docs/superpowers/TODO.md
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

docs(spec): application-factory refactor design
  docs/superpowers/specs/2026-07-27-app-factory-refactor-design.md
Due: none

Path conditions:
  inline-style-check: any of: \.(html|htm|xhtml)$
  inline-script-check: any of: \.(html|htm|xhtml)$
  manual-version-token-check: any of: \.(html|htm|xhtml)$
  optimize_svgs: any of: \\.(svg)$
  deprecated-sqlalchemy-query-get: any of: \.py$
