Repository zebadrabbit/Adventure: changes, and which pre-commit hooks are due for each by the changed paths.
All: inline-style-check, inline-script-check, manual-version-token-check, optimize_svgs, deprecated-sqlalchemy-query-get

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: ["--config=pyproject.toml"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.7
    hooks:
      - id: ruff
        args: ["--fix"]
        # NOTE: ruff-format intentionally disabled to avoid oscillating diffs with Black.
        # Ruff lint (with --fix) handles import sorting; Black is sole formatter.
  - repo: local
    hooks:
      - id: inline-style-check
        name: Inline style attribute check
        entry: python scripts/check_inline_styles.py
        language: system
        pass_filenames: false
        types: [html]
      - id: inline-script-check
        name: Inline script block check
        entry: python scripts/check_inline_scripts.py
        language: system
        pass_filenames: false
        types: [html]
      - id: manual-version-token-check
        name: Manual static version token check
        entry: python scripts/check_static_version_tokens.py
        language: system
        pass_filenames: false
        types: [html]
      - id: optimize_svgs
        name: Optimize SVG assets
        entry: python scripts/optimize_svgs.py
        language: system
        files: '\\.(svg)$'
        stages: [commit]
      - id: deprecated-sqlalchemy-query-get
        name: Deprecated SQLAlchemy Query.get usage
        entry: python scripts/check_deprecated_query_get.py
        language: system
        pass_filenames: false
        types: [python]

chore: auto bump version to 0.8.3
  CHANGELOG.md
  VERSION
Due: none

docs(changelog): fold in the 0.8.2 work
  CHANGELOG.md
Due: none

chore: auto bump version to 0.8.4
  CHANGELOG.md
  VERSION
Due: none

docs(plan): adventure HUD shell implementation plan
  docs/superpowers/plans/2026-07-28-adventure-hud-shell.md
Due: none

feat(hud): add chrome/realm render flags and a corner account anchor
  app/routes/dungeon_api.py
  app/templates/base.html
  app/templates/partials/account_anchor.html
  tests/test_adventure_hud.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

feat(hud): give the map the whole frame
  app/static/css/adventure-hud.css
  app/static/css/app.css
  app/static/css/utilities.css
  app/static/js/dungeon-canvas.js
  app/templates/adventure.html
  e2e/test_smoke.py
  tests/test_adventure_hud.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

fix(hud): scope account-anchor by realm, fix narrow-layout containing block
  app/static/css/adventure-hud.css
Due: none

feat(hud): party frames on the left edge
  app/static/css/adventure-hud.css
  app/static/js/adventure-controls.js
  app/templates/adventure.html
  tests/test_adventure_hud.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

fix(hud): scope the Space guard to the actual collision, fix bar colours
  app/static/css/adventure-hud.css
  app/static/js/adventure-controls.js
Due: none

feat(hud): float the log and the action bar
  app/static/css/adventure-hud.css
  app/static/css/app.css
  app/templates/adventure.html
  e2e/test_smoke.py
  tests/test_adventure_hud.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

docs(todo): adventure HUD shell landed
  docs/superpowers/TODO.md
Due: none

fix(hud): close two review findings on the floating log/action bar
  app/static/css/adventure-hud.css
  app/static/js/adventure-controls.js
  e2e/test_smoke.py
Due: deprecated-sqlalchemy-query-get

fix(hud): close the final review findings on the adventure shell
  app/static/css/adventure-hud.css
  app/static/js/adventure-controls.js
  app/static/js/dungeon-canvas.js
  app/templates/adventure.html
  e2e/test_smoke.py
  tests/test_adventure_hud.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

docs(spec): settle the character panel design
  docs/superpowers/specs/2026-07-28-character-panel-redesign.md
Due: none

docs(spec): looted gear cannot be equipped during a run
  docs/superpowers/specs/2026-07-28-character-panel-redesign.md
Due: none

docs(plan): gear slot vocabulary unification
  docs/superpowers/plans/2026-07-28-gear-slot-unification.md
Due: none

fix(gear): starter body armour goes in the canonical chest slot
  app/services/auto_equip.py
  tests/test_autofill_gear.py
  tests/test_gear_slot_vocabulary.py
Due: deprecated-sqlalchemy-query-get

fix(gear): one slot vocabulary in the inventory API
  app/routes/inventory_api.py
  tests/test_gear_slot_vocabulary.py
Due: deprecated-sqlalchemy-query-get

fix(gear): render the canonical slot vocabulary on /adventure's equip panel
  app/routes/inventory_api.py
  app/static/js/equipment.js
Due: deprecated-sqlalchemy-query-get

feat(gear): migrate existing gear onto the canonical slots
  migrations/versions/c9405725c1f4_unify_gear_slots.py
  tests/test_gear_slot_migration.py
Due: deprecated-sqlalchemy-query-get

docs(todo): gear slot vocabularies unified
  docs/superpowers/TODO.md
Due: none

fix(gear): close three data-loss paths in the gear-slot migration
  docs/superpowers/plans/2026-07-28-gear-slot-unification.md
  migrations/versions/c9405725c1f4_unify_gear_slots.py
  tests/test_gear_slot_migration.py
Due: deprecated-sqlalchemy-query-get

fix(gear): correct qty coercion, log skipped rows, sync the plan doc
  docs/superpowers/plans/2026-07-28-gear-slot-unification.md
  migrations/versions/c9405725c1f4_unify_gear_slots.py
  tests/test_gear_slot_migration.py
Due: deprecated-sqlalchemy-query-get

fix(gear-slots): stop the migration losing items, and test what it claims
  migrations/versions/c9405725c1f4_unify_gear_slots.py
  sql/README.md
  tests/test_gear_prefixes.py
  tests/test_gear_slot_migration.py
  tests/test_gear_slot_vocabulary.py
Due: deprecated-sqlalchemy-query-get

docs(plan): paper doll consolidation
  docs/superpowers/plans/2026-07-28-paper-doll-consolidation.md
Due: none

refactor(equipment): one container-scoped panel renderer
  app/static/js/equipment-enhanced.js
  app/static/js/equipment-panel.js
  app/static/js/equipment-shared.js
  app/templates/dashboard.html
Due: inline-style-check, inline-script-check, manual-version-token-check

fix(equipment): restore equipment-shared.js, wrong task boundary
  app/static/js/equipment-shared.js
Due: none

docs(plan): correct two task-boundary defects found during task 1
  docs/superpowers/plans/2026-07-28-paper-doll-consolidation.md
Due: none

feat(equipment): the dungeon gets the real character panel
  app/static/css/adventure-hud.css
  app/static/js/adventure-controls.js
  app/static/js/adventure.js
  app/static/js/dashboard-operative-cards.js
  app/static/js/equipment-panel.js
  app/static/js/equipment-shared.js
  app/static/js/equipment.js
  app/templates/adventure.html
  app/templates/dashboard.html
  e2e/test_smoke.py
  tests/test_adventure_hud.py
  tests/test_procedural_gear_equip.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

fix(equipment): close review findings on the character panel
  app/static/css/adventure-hud.css
  app/static/js/adventure-controls.js
  app/static/js/adventure.js
  app/static/js/equipment-panel.js
  e2e/test_smoke.py
Due: deprecated-sqlalchemy-query-get

fix(hud): stop letterboxing the character panel to clear the log/hotkeys
  app/static/css/adventure-hud.css
Due: none

fix(e2e): CI env for gear seeding, keyboard access on the panel, refresh() race
  .github/workflows/ci.yml
  app/static/js/adventure-controls.js
  app/static/js/equipment-panel.js
  e2e/test_smoke.py
Due: deprecated-sqlalchemy-query-get

style(equipment): put the character panel on the token system
  app/static/css/equipment.css
  app/static/css/tokens.css
Due: none

fix(equipment): close review findings on the token-system pass
  app/loot/data/rarities.py
  app/static/css/equipment.css
  app/static/js/equipment-panel.js
  tests/test_gear_rarities.py
Due: deprecated-sqlalchemy-query-get

feat(hud): encumbrance state on the party frame
  app/routes/dashboard_helpers.py
  app/static/css/adventure-hud.css
  app/static/js/adventure-controls.js
  app/templates/adventure.html
  tests/test_party_encumbrance.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

fix(hud): fit the encumbrance marker into the rail without scrolling
  app/static/css/adventure-hud.css
  app/static/js/adventure-controls.js
  app/templates/adventure.html
Due: inline-style-check, inline-script-check, manual-version-token-check

docs(hud): point the encumbrance-marker warnings where they'll be read
  app/static/css/adventure-hud.css
  app/static/js/adventure-controls.js
  app/static/js/adventure.js
Due: none

fix(hud): let the encumbrance badge ellipsize instead of clip
  app/static/css/adventure-hud.css
Due: none

style(buttons): define the three tactical button variants that had none
  app/static/css/theme.css
Due: none

docs(todo): paper doll consolidated, dungeon equipping fixed
  docs/superpowers/TODO.md
Due: none
