Repository zebadrabbit/Adventure: changes, and which pre-commit hooks are due for each by the changed paths.
All: inline-style-check, inline-script-check, manual-version-token-check, optimize_svgs, deprecated-sqlalchemy-query-get

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: ["--config=pyproject.toml"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.7
    hooks:
      - id: ruff
        args: ["--fix"]
        # NOTE: ruff-format intentionally disabled to avoid oscillating diffs with Black.
        # Ruff lint (with --fix) handles import sorting; Black is sole formatter.
  - repo: local
    hooks:
      - id: inline-style-check
        name: Inline style attribute check
        entry: python scripts/check_inline_styles.py
        language: system
        pass_filenames: false
        types: [html]
      - id: inline-script-check
        name: Inline script block check
        entry: python scripts/check_inline_scripts.py
        language: system
        pass_filenames: false
        types: [html]
      - id: manual-version-token-check
        name: Manual static version token check
        entry: python scripts/check_static_version_tokens.py
        language: system
        pass_filenames: false
        types: [html]
      - id: optimize_svgs
        name: Optimize SVG assets
        entry: python scripts/optimize_svgs.py
        language: system
        files: '\\.(svg)$'
        stages: [commit]
      - id: deprecated-sqlalchemy-query-get
        name: Deprecated SQLAlchemy Query.get usage
        entry: python scripts/check_deprecated_query_get.py
        language: system
        pass_filenames: false
        types: [python]

feat(encounters): add shared monster-reaches-player collision trigger
  app/dungeon/api_helpers/encounters.py
  tests/test_collision_combat.py
Due: deprecated-sqlalchemy-query-get

feat(encounters): retire the random encounter roll entirely
  app/dungeon/api_helpers/encounters.py
  app/dungeon/movement_handler.py
  app/routes/dungeon_api.py
  app/websockets/game.py
  tests/conftest.py
  tests/test_encounter_config.py
  tests/test_time_and_encounters.py
Due: deprecated-sqlalchemy-query-get

chore(admin): remove dead encounter_spawn_rate control
  app/routes/admin.py
  app/templates/admin_game_rules.html
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

feat(spawn): ambient-tier spawns use the real monster catalog
  app/dungeon/spawn_integration.py
  docs/superpowers/TODO.md
  tests/test_spawn_integration_catalog.py
Due: deprecated-sqlalchemy-query-get

fix(encounters): add chase-to-collision integration test, fix WS loot-claim encounter surfacing, fix stale admin help text
  app/templates/admin_game_config.html
  app/websockets/game.py
  tests/test_aggro_to_collision.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

chore: auto bump version to 0.7.6
  CHANGELOG.md
  VERSION
Due: none

docs(spec): dungeon enemy theming design
  docs/superpowers/specs/2026-06-21-dungeon-enemy-theming-design.md
Due: none

docs(plan): dungeon enemy theming implementation plan
  docs/superpowers/plans/2026-06-21-dungeon-enemy-theming.md
Due: none

feat(dungeon): add monster_family column to DungeonInstance
  app/models/dungeon_instance.py
  migrations/versions/a1b2c3d4e5f7_add_monster_family_to_dungeon_instance.py
  tests/test_dungeon_instance_monster_family.py
Due: deprecated-sqlalchemy-query-get

feat(spawn): add deterministic per-seed dungeon theme picker
  app/services/spawn_service.py
  tests/test_spawn_service_theme.py
Due: deprecated-sqlalchemy-query-get

feat(spawn): add optional family filter to choose_monster
  app/services/spawn_service.py
  tests/test_spawn_service_family_filter.py
Due: deprecated-sqlalchemy-query-get

feat(dungeon): assign and apply per-instance enemy theme
  app/dungeon/spawn_integration.py
  app/routes/dashboard.py
  app/routes/seed_api.py
  docs/superpowers/TODO.md
  tests/test_dashboard_theme_assignment.py
  tests/test_spawn_integration_theming.py
Due: deprecated-sqlalchemy-query-get

docs(todo): log uneven family level-coverage as theming follow-up
  docs/superpowers/TODO.md
Due: none

chore: auto bump version to 0.7.7
  CHANGELOG.md
  VERSION
Due: none

docs(spec): Character Cards Phase B - new effect sources (regen potion + camp buff)
  docs/superpowers/specs/2026-06-21-character-cards-phase-b-effect-sources-design.md
Due: none

docs(plan): Character Cards Phase B implementation plan
  docs/superpowers/plans/2026-06-21-character-cards-phase-b-effect-sources.md
Due: none

feat(status-effects): add regen_buff combat handler + replace_effect helper
  app/services/status_effects.py
  tests/test_status_effects_decay.py
Due: deprecated-sqlalchemy-query-get

feat(status-effects): apply_tick_decay multiplies regen rate when regen_buff is active
  app/services/status_effects.py
  tests/test_status_effects_decay.py
Due: deprecated-sqlalchemy-query-get

feat(combat): round-trip regen_buff through combat start/end alongside poison
  app/services/combat_service.py
  tests/test_regen_buff_combat_roundtrip.py
Due: deprecated-sqlalchemy-query-get

feat(items): add potion-regen item + combat use_item branch applying regen_buff
  app/server.py
  app/services/combat_service.py
  tests/test_regen_potion_combat.py
Due: deprecated-sqlalchemy-query-get

feat(inventory): consuming potion-regen applies a persisted regen_buff effect
  app/routes/inventory_api.py
  tests/test_regen_potion_out_of_combat.py
Due: deprecated-sqlalchemy-query-get

feat(dungeon): camp applies a well-rested regen_buff alongside its instant restore
  app/routes/dungeon_api.py
  tests/test_camp_regen_buff.py
Due: deprecated-sqlalchemy-query-get

docs(todo): mark Character Cards Phase B (new effect sources) done
  docs/superpowers/TODO.md
Due: none

chore: auto bump version to 0.7.8
  CHANGELOG.md
  VERSION
Due: none

docs(spec): Character Cards Phase C - dashboard roster card redesign
  docs/superpowers/specs/2026-06-21-character-cards-phase-c-dashboard-roster-design.md
Due: none

docs(plan): Character Cards Phase C implementation plan
  docs/superpowers/plans/2026-06-21-character-cards-phase-c-dashboard-roster.md
Due: none

feat(dashboard): expose hp_max/mana_max/effects_display from serialize_character_list
  app/routes/dashboard_helpers.py
  tests/test_gear_party_payload.py
Due: deprecated-sqlalchemy-query-get

feat(dashboard): split operative-card into collapsed summary + expandable detail
  app/templates/dashboard.html
Due: inline-style-check, inline-script-check, manual-version-token-check

feat(dashboard): style HP/MP bars, effect chips, and active-effects detail list
  app/static/css/theme.css
Due: none

feat(dashboard): click-to-expand roster cards, apply HP/MP bar widths
  app/static/js/dashboard-operative-cards.js
  app/static/js/dashboard.js
Due: none

docs(todo): mark Character Cards Phase C (dashboard roster redesign) done
  docs/superpowers/TODO.md
Due: none

chore: auto bump version to 0.7.9
  CHANGELOG.md
  VERSION
Due: none

docs(spec): Character Cards Phase D - combat party card redesign
  docs/superpowers/specs/2026-06-21-character-cards-phase-d-combat-party-card-design.md
Due: none

docs(plan): Character Cards Phase D implementation plan
  docs/superpowers/plans/2026-06-21-character-cards-phase-d-combat-party-card.md
Due: none

refactor(status-effects): move KNOWN_STATUS_EFFECTS/describe_status_effect to status_effects.py
  app/routes/dashboard_helpers.py
  app/services/status_effects.py
  tests/test_status_effects_decay.py
Due: deprecated-sqlalchemy-query-get

feat(combat): add effects_display to per-character combat snapshot
  app/services/combat_service.py
  tests/test_gear_combat_integration.py
Due: deprecated-sqlalchemy-query-get

feat(combat): retire legacy static spell panel UI, keep real skill system as the only caster path
  app/static/js/combat.js
  app/templates/combat.html
Due: inline-style-check, inline-script-check, manual-version-token-check

fix(combat): remove dead charClass variable left over from spell-panel removal
  app/static/js/combat.js
Due: none

feat(combat): render buff/debuff chips on every party card, auto-reveal stat breakdown on the active card
  app/static/css/combat.css
  app/static/js/combat.js
  app/templates/combat.html
Due: inline-style-check, inline-script-check, manual-version-token-check

docs(todo): mark Character Cards Phase D (combat party card redesign) done -- series complete
  docs/superpowers/TODO.md
Due: none
