Repository zebadrabbit/Adventure: changes, and which pre-commit hooks are due for each by the changed paths.
All: inline-style-check, inline-script-check, manual-version-token-check, optimize_svgs, deprecated-sqlalchemy-query-get

inline-style-check:
  name: Inline style attribute check
  entry: python scripts/check_inline_styles.py
  language: system
  pass_filenames: false

inline-script-check:
  name: Inline script block check
  entry: python scripts/check_inline_scripts.py
  language: system
  pass_filenames: false

manual-version-token-check:
  name: Manual static version token check
  entry: python scripts/check_static_version_tokens.py
  language: system
  pass_filenames: false

optimize_svgs:
  name: Optimize SVG assets
  entry: python scripts/optimize_svgs.py
  language: system
  stages:
  - commit

deprecated-sqlalchemy-query-get:
  name: Deprecated SQLAlchemy Query.get usage
  entry: python scripts/check_deprecated_query_get.py
  language: system
  pass_filenames: false

docs(todo): encounter_config tests fixed
  docs/superpowers/TODO.md
Due: none

test(combat): deterministic initiative in persistence tests (fixes flakiness)
  tests/test_combat_persistence.py
Due: deprecated-sqlalchemy-query-get

docs(todo): suite fully green; retire fixed known-issues
  docs/superpowers/TODO.md
Due: none

feat(ui): reflect passive skill bonuses in dashboard HP/mana (matches combat)
  app/routes/dashboard_helpers.py
Due: deprecated-sqlalchemy-query-get

docs(todo): dashboard passive display done
  docs/superpowers/TODO.md
Due: none

docs(todo): detail active-skill combat wiring (separate hardcoded spell system found)
  docs/superpowers/TODO.md
Due: none

chore: auto bump version to 0.7.2
  VERSION
Due: none

feat(combat): cast unlocked active skills as combat actions (Spec 5b)
  app/routes/combat_api.py
  app/services/combat_constants.py
  app/services/combat_service.py
  tests/test_cast_skill.py
Due: deprecated-sqlalchemy-query-get

docs(todo): active skills in combat done
  docs/superpowers/TODO.md
Due: none

test(infra): conftest binds DATABASE_URL to test DB before importing app
  docs/superpowers/TODO.md
  tests/conftest.py
Due: deprecated-sqlalchemy-query-get

chore: auto bump version to 0.7.3
  VERSION
Due: none

feat(progression): stat-point ledger; gate level-up allocations (Spec 5a)
  app/models/models.py
  app/routes/inventory_api.py
  app/services/progression.py
  migrations/versions/b2c3d4e5f6a7_character_stat_points.py
  tests/test_levelup_gating.py
Due: deprecated-sqlalchemy-query-get

docs(todo): level-up stat-point gating done
  docs/superpowers/TODO.md
Due: none

docs+tooling: fix manage.sh (.venv, alembic, seed merchants/skills); document economy & progression
  README.md
  docs/ECONOMY_PROGRESSION.md
  manage.sh
Due: none

docs(changelog): add Path A economy/progression + fixes under Unreleased
  CHANGELOG.md
Due: none

chore: auto bump version to 0.7.4
  VERSION
Due: none

docs(spec): trading UI repoint to hoard + repair tab design (Spec 4b, part 1)
  docs/superpowers/specs/2026-06-17-trading-hoard-repair-ui-design.md
Due: none

docs(plan): implementation plan for trading UI hoard repoint + repair tab
  docs/superpowers/plans/2026-06-17-trading-hoard-repair-ui.md
Due: none

feat(trading-ui): repoint shop header and buy flow to the hoard
  app/static/js/trading-system.js
Due: none

feat(trading-ui): repoint sell tab to the hoard, support gear instances
  app/static/js/tooltips.js
  app/static/js/trading-system.js
Due: none

feat(trading-ui): add hoard-aware repair tab to the shop modal
  app/static/css/trading-system.css
  app/static/js/trading-system.js
Due: none

polish(trading-ui): fix stale gold wording/doc comment after hoard repoint
  app/static/js/trading-system.js
Due: none

docs(spec): hoard/stash screen design (Spec 4b, part 2)
  docs/superpowers/specs/2026-06-17-hoard-stash-ui-design.md
Due: none

docs(plan): implementation plan for hoard/stash screen
  docs/superpowers/plans/2026-06-17-hoard-stash-ui.md
Due: none

feat(hoard-ui): add hoard viewer + withdraw-to-character modal
  app/static/js/hoard.js
Due: none

feat(hoard-ui): add dashboard entry point for the hoard viewer
  app/templates/dashboard.html
Due: inline-style-check, inline-script-check, manual-version-token-check

docs(spec): loot-body UI + secured-to-hoard confirmation design (Spec 4b, part 3)
  docs/superpowers/specs/2026-06-17-run-extraction-surface-design.md
Due: none

docs(plan): implementation plan for loot-body UI + secured-to-hoard confirmation
  docs/superpowers/plans/2026-06-17-run-extraction-surface.md
Due: none

feat(extraction): pool_run_haul reports copper/items moved
  app/economy/hoard_service.py
  tests/test_hoard.py
Due: deprecated-sqlalchemy-query-get

feat(extraction): aggregate secured copper/items into extract_party result
  app/services/extraction_service.py
  tests/test_extraction_economy.py
Due: deprecated-sqlalchemy-query-get

feat(extraction-ui): show secured-to-hoard confirmation instead of a bare alert
  app/templates/adventure.html
Due: inline-style-check, inline-script-check, manual-version-token-check

docs(extraction-ui): note why the new innerHTML message sink is currently XSS-safe
  app/templates/adventure.html
Due: inline-style-check, inline-script-check, manual-version-token-check

feat(extraction-ui): add loot-body action for downed party members
  app/templates/adventure.html
Due: inline-style-check, inline-script-check, manual-version-token-check

docs(extraction-ui): broaden XSS-safety comment to cover secured.* fields too
  app/templates/adventure.html
Due: inline-style-check, inline-script-check, manual-version-token-check

docs(todo): mark Spec 4b trading/hoard/extraction UI done; track inline-script hook cleanup
  docs/superpowers/TODO.md
Due: none

docs(spec): design for equipment panel encumbrance bar + real affix tooltips
  docs/superpowers/specs/2026-06-17-equipment-encumbrance-affix-design.md
Due: none

docs(plan): implementation plan for encumbrance bar + affix breakdown
  docs/superpowers/plans/2026-06-17-equipment-encumbrance-affix.md
Due: none

Path conditions:
  inline-style-check: any of: \.(html|htm|xhtml)$
  inline-script-check: any of: \.(html|htm|xhtml)$
  manual-version-token-check: any of: \.(html|htm|xhtml)$
  optimize_svgs: any of: \\.(svg)$
  deprecated-sqlalchemy-query-get: any of: \.py$
