Repository zebadrabbit/Adventure: changes, and which pre-commit hooks are due for each by the changed paths.
All: inline-style-check, inline-script-check, manual-version-token-check, optimize_svgs, deprecated-sqlalchemy-query-get

inline-style-check:
  name: Inline style attribute check
  entry: python scripts/check_inline_styles.py
  language: system
  pass_filenames: false

inline-script-check:
  name: Inline script block check
  entry: python scripts/check_inline_scripts.py
  language: system
  pass_filenames: false

manual-version-token-check:
  name: Manual static version token check
  entry: python scripts/check_static_version_tokens.py
  language: system
  pass_filenames: false

optimize_svgs:
  name: Optimize SVG assets
  entry: python scripts/optimize_svgs.py
  language: system
  stages:
  - commit

deprecated-sqlalchemy-query-get:
  name: Deprecated SQLAlchemy Query.get usage
  entry: python scripts/check_deprecated_query_get.py
  language: system
  pass_filenames: false

chore: auto bump version to 0.7.10
  CHANGELOG.md
  VERSION
Due: none

docs(spec): widen low-level monster-family coverage
  docs/superpowers/specs/2026-06-21-monster-family-low-level-coverage-design.md
Due: none

docs(plan): widen low-level monster-family coverage implementation plan
  docs/superpowers/plans/2026-06-21-monster-family-low-level-coverage.md
Due: none

feat(monsters): add low-level elemental/construct/aberration/demon coverage
  sql/monsters_seed.sql
  tests/test_monster_family_low_level_coverage.py
Due: deprecated-sqlalchemy-query-get

docs(todo): mark low-level monster-family coverage gap fixed
  docs/superpowers/TODO.md
Due: none

fix(tests): remove dead SQLite config override in legacy password-upgrade tests
  tests/test_legacy_password_upgrade.py
  tests/test_legacy_sha256_upgrade.py
Due: deprecated-sqlalchemy-query-get

docs(todo): mark dead-SQLite-config follow-up fixed
  docs/superpowers/TODO.md
Due: none

chore: auto bump version to 0.7.11
  CHANGELOG.md
  VERSION
Due: none

docs: lobby redesign implementation plan (3 tasks, 4 new routes)
  docs/superpowers/plans/2026-06-27-lobby-redesign.md
Due: none

fix(lobby): set sessionStorage before reload in remove/autofill handlers
  app/static/js/dashboard-lobby.js
Due: none

feat(lobby): add dashboard-lobby.js for tab state, party/barracks/recruit interactions
  app/static/js/dashboard-lobby.js
Due: none

feat(lobby): add recruit generation, hire, and party session API routes
  app/routes/dashboard.py
  app/routes/dashboard_helpers.py
  scripts/check_deprecated_query_get.py
  tests/test_recruit_party_api.py
Due: deprecated-sqlalchemy-query-get

docs: lobby redesign spec (tabbed Dark & Darker–style dashboard)
  docs/superpowers/specs/2026-06-27-lobby-redesign.md
Due: none

fix(lobby): allowlist cls in recruit_hire against BASE_STATS keys
  app/routes/dashboard.py
Due: deprecated-sqlalchemy-query-get

feat(lobby): restructure dashboard into 7-tab lobby layout
  app/static/css/dashboard.css
  app/static/js/dashboard.js
  app/templates/dashboard.html
Due: inline-style-check, inline-script-check, manual-version-token-check

chore: auto bump version to 0.7.12
  CHANGELOG.md
  VERSION
Due: none

fix(lobby): close dashboard_content block before scripts block to prevent double-load
  app/templates/dashboard.html
Due: inline-style-check, inline-script-check, manual-version-token-check

feat(dashboard): inline tabs for quests/hoard/achievements, party+hoard currency, seed countdown
  app/routes/hoard_api.py
  app/routes/inventory_api.py
  app/routes/trading_api.py
  app/static/css/dashboard.css
  app/static/js/achievement-system.js
  app/static/js/dashboard-lobby.js
  app/static/js/hoard.js
  app/static/js/quest-system.js
  app/static/js/seed-widget.js
  app/static/js/trading-system.js
  app/templates/dashboard.html
  app/templates/macros/seed_widget.html
  docs/ECONOMY_PROGRESSION.md
  docs/TRADING_SYSTEM.md
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

docs: hoard UI redesign spec (three-panel drag-and-drop inventory manager)
  docs/superpowers/specs/2026-06-27-hoard-ui-redesign-design.md
Due: none

docs: daily/weekly quest system design spec
  docs/superpowers/specs/2026-06-27-daily-weekly-quests-design.md
Due: none

docs: dungeon difficulty and affix system design spec
  docs/superpowers/specs/2026-06-27-dungeon-difficulty-affixes-design.md
Due: none

docs: implementation plans for hoard redesign, daily/weekly quests, dungeon difficulty/affixes
  docs/superpowers/plans/2026-06-27-daily-weekly-quests.md
  docs/superpowers/plans/2026-06-27-dungeon-difficulty-affixes.md
  docs/superpowers/plans/2026-06-27-hoard-ui-redesign.md
Due: none

feat(hoard): add POST /api/hoard/deposit-item endpoint
  app/economy/hoard_service.py
  app/routes/hoard_api.py
  tests/test_hoard_deposit_item.py
Due: deprecated-sqlalchemy-query-get

fix(hoard): use load_inventory/dump_inventory, add GET /api/hoard coverage
  app/economy/hoard_service.py
  app/routes/hoard_api.py
  tests/test_hoard_deposit_item.py
Due: deprecated-sqlalchemy-query-get

feat(hoard): add POST /api/hoard/currency deposit/withdraw endpoint
  app/routes/hoard_api.py
  tests/conftest.py
  tests/test_hoard_currency.py
Due: deprecated-sqlalchemy-query-get

feat(hoard): add three-panel hoard UI CSS
  app/static/css/app.css
  app/static/css/hoard-ui.css
Due: none

feat(hoard): rewrite hoard.js with three-panel layout and drag-and-drop
  app/static/js/hoard.js
Due: none

feat(hoard): expose stats.gold/silver/copper on character endpoints
  app/routes/inventory_api.py
Due: deprecated-sqlalchemy-query-get

fix(hoard): read coins from char.stats JSON in character state endpoints
  app/routes/inventory_api.py
  tests/test_character_coins_from_stats.py
Due: deprecated-sqlalchemy-query-get

feat(quests): add user_quest_pool migration
  migrations/versions/a1b2c3d4e5f8_add_user_quest_pool.py
Due: deprecated-sqlalchemy-query-get

feat(quests): add UserQuestPool model
  app/models/__init__.py
  app/models/user_quest_pool.py
  tests/test_user_quest_pool_model.py
Due: deprecated-sqlalchemy-query-get

feat(quests): add quest generator service for daily/weekly quests
  app/services/quest_generator.py
  tests/test_quest_generator.py
Due: deprecated-sqlalchemy-query-get

feat(quests): add quest progress service for kill/run tracking
  app/services/quest_progress_service.py
  tests/test_quest_progress_service.py
Due: deprecated-sqlalchemy-query-get

feat(quests): hook kill and run tracking into combat and extraction
  app/services/combat_service.py
  app/services/extraction_service.py
  tests/test_quest_hooks.py
Due: deprecated-sqlalchemy-query-get

feat(quests): add daily/weekly quest API endpoints and claim flow
  app/routes/quest_api.py
  tests/test_daily_weekly_api.py
Due: deprecated-sqlalchemy-query-get

feat(quests): add daily/weekly sub-tabs to quest journal UI
  app/static/js/quest-system.js
  app/templates/dashboard.html
Due: inline-style-check, inline-script-check, manual-version-token-check

feat(dungeon): add monster_count_multiplier, xp_multiplier, threat_weight to DungeonAffix
  app/models/dungeon_tier.py
  migrations/versions/a1b2c3d4e5f9_dungeon_affix_columns.py
Due: deprecated-sqlalchemy-query-get

feat(dungeon): seed Normal/Heroic/Mythic tiers and 8 starter affixes
  app/seed_dungeon_difficulty.py
  run.py
  tests/test_seed_dungeon_difficulty.py
Due: deprecated-sqlalchemy-query-get

feat(dungeon): add GET /api/dungeon/affixes endpoint
  app/routes/dungeon_api.py
  tests/test_dungeon_affixes_api.py
Due: deprecated-sqlalchemy-query-get

feat(dungeon): read difficulty_tier and affix_ids from start_adventure form
  app/routes/dashboard.py
  tests/test_start_adventure_difficulty.py
Due: deprecated-sqlalchemy-query-get

Path conditions:
  inline-style-check: any of: \.(html|htm|xhtml)$
  inline-script-check: any of: \.(html|htm|xhtml)$
  manual-version-token-check: any of: \.(html|htm|xhtml)$
  optimize_svgs: any of: \\.(svg)$
  deprecated-sqlalchemy-query-get: any of: \.py$
