Repository zebadrabbit/Adventure: changes, and which pre-commit hooks are due for each by the changed paths.
All: inline-style-check, inline-script-check, manual-version-token-check, optimize_svgs, deprecated-sqlalchemy-query-get

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: ["--config=pyproject.toml"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.7
    hooks:
      - id: ruff
        args: ["--fix"]
        # NOTE: ruff-format intentionally disabled to avoid oscillating diffs with Black.
        # Ruff lint (with --fix) handles import sorting; Black is sole formatter.
  - repo: local
    hooks:
      - id: inline-style-check
        name: Inline style attribute check
        entry: python scripts/check_inline_styles.py
        language: system
        pass_filenames: false
        types: [html]
      - id: inline-script-check
        name: Inline script block check
        entry: python scripts/check_inline_scripts.py
        language: system
        pass_filenames: false
        types: [html]
      - id: manual-version-token-check
        name: Manual static version token check
        entry: python scripts/check_static_version_tokens.py
        language: system
        pass_filenames: false
        types: [html]
      - id: optimize_svgs
        name: Optimize SVG assets
        entry: python scripts/optimize_svgs.py
        language: system
        files: '\\.(svg)$'
        stages: [commit]
      - id: deprecated-sqlalchemy-query-get
        name: Deprecated SQLAlchemy Query.get usage
        entry: python scripts/check_deprecated_query_get.py
        language: system
        pass_filenames: false
        types: [python]

feat(combat-ui): attach action panel to the active character's card
  app/static/js/combat.js
Due: none

fix(tests): stop conftest's DB safety check from trusting a leaked dev DATABASE_URL
  tests/conftest.py
Due: deprecated-sqlalchemy-query-get

fix(combat-ui): stop action panel from being destroyed across re-renders
  app/static/js/combat.js
Due: none

fix(combat-ui): add missing class-badge colors, fuse action panel to active card
  app/static/css/combat.css
  app/static/css/theme.css
Due: none

fix(combat-ui): remove redundant active-char label, fix class-badge override
  app/static/css/combat.css
  app/static/js/combat.js
  app/templates/combat.html
Due: inline-style-check, inline-script-check, manual-version-token-check

fix(combat-ui): fill combat log panel height, highlight latest log entry
  app/static/css/combat.css
  app/static/js/combat.js
Due: none

feat(combat-ui): add visible attack slash and defend shield effects
  app/static/css/combat-effects.css
  app/static/js/combat-effects.js
  app/static/js/combat.js
Due: none

fix(combat-ui): remove stale app.css rule clamping #combat-log to 400px
  app/static/css/app.css
Due: none

docs(todo): log full-party-wipe run-end gap found during Phase 4 verification
  docs/superpowers/TODO.md
Due: none

docs(todo): log random-encounter and fog-of-war encounter-visibility gaps
  docs/superpowers/TODO.md
Due: none

fix(combat-ui): cap combat log/monster panel height to stop unbounded growth
  app/static/css/combat.css
Due: none

fix(combat-ui): raise opacity/contrast on the 6 newly-added class badges
  app/static/css/theme.css
Due: none

fix(combat-ui): scope .panel-header .badge to stop it overriding class badges
  app/static/css/theme.css
Due: none

fix(combat-ui): differentiate warlock badge from sorcerer's similar pink hue
  app/static/css/theme.css
Due: none

fix(combat-ui): decouple combat log/monster panel height from each other
  app/static/css/app.css
  app/static/css/combat.css
Due: none

fix(combat-ui): stop combat-log-card's min-height from fighting its own max-height
  app/static/css/combat.css
Due: none

docs(todo): log unconscious-characters-can-still-attack bug
  docs/superpowers/TODO.md
Due: none

docs(todo): log deferred character-card detail feature (stats/DPS/buffs)
  docs/superpowers/TODO.md
Due: none

fix(combat): use the actual character's name in combat log messages
  app/services/combat_service.py
  tests/test_combat_balance.py
Due: deprecated-sqlalchemy-query-get

docs(todo): log landing page theming/styling revisit
  docs/superpowers/TODO.md
Due: none

docs(todo): mark UI redesign Phase 4 (combat Cold Steel theming) done
  docs/superpowers/TODO.md
Due: none

fix(combat-ui): wire up the monster HP text label
  app/static/js/combat.js
Due: none

docs(todo): mark monster HP label bug fixed
  docs/superpowers/TODO.md
Due: none

fix(character): start fresh characters at full mana, not the legacy flat baseline
  app/routes/dashboard.py
  app/routes/dashboard_helpers.py
  tests/test_character_creation_hp.py
Due: deprecated-sqlalchemy-query-get

feat(combat-ui): drop HP/MP text labels, change mana icon to a blue droplet
  app/static/css/combat.css
  app/templates/combat.html
Due: inline-style-check, inline-script-check, manual-version-token-check

docs(todo): log hiding the mana bar for manaless classes (barbarian)
  docs/superpowers/TODO.md
Due: none

docs(todo): log shared-potion-pool issue (only character[0]'s inventory used)
  docs/superpowers/TODO.md
Due: none

fix(combat): block all action handlers for downed characters, not just attack
  app/services/combat_service.py
  tests/test_unconscious_actions.py
Due: deprecated-sqlalchemy-query-get

docs(todo): mark unconscious-characters-could-act bug fixed
  docs/superpowers/TODO.md
Due: none

fix(dungeon): stop exploration after a full party wipe
  app/dungeon/movement_handler.py
  app/routes/dungeon_api.py
  app/services/combat_service.py
  tests/test_party_wipe_blocks_exploration.py
Due: deprecated-sqlalchemy-query-get

docs(todo): mark full-party-wipe-doesn't-end-run bug fixed
  docs/superpowers/TODO.md
Due: none

docs(todo): log combat log reload/redraw after Firebolt cast
  docs/superpowers/TODO.md
Due: none

fix(dungeon-ui): hide entities on unrevealed tiles (fog-of-war gap)
  app/static/js/dungeon-canvas.js
Due: none

docs(todo): root-cause random-encounters gap, mark fog-of-war entity bug fixed
  docs/superpowers/TODO.md
Due: none

fix(seed): load sql/monsters_seed.sql in reseed-items
  app/seed_items.py
Due: deprecated-sqlalchemy-query-get

docs(todo): mark random-encounters bug fixed (monsters_seed.sql wiring)
  docs/superpowers/TODO.md
Due: none

fix(hoard): require loot-body's survivor/downed to be in the current run's party
  app/routes/hoard_api.py
  tests/test_hoard_api.py
Due: deprecated-sqlalchemy-query-get

docs(todo): mark loot-body same-run guard fixed, log dashboard theme pass
  docs/superpowers/TODO.md
Due: none

fix(combat): make healing potions per-character, not a shared party pool
  app/routes/combat_api.py
  app/services/combat_service.py
  app/static/js/combat.js
  tests/test_potions_per_character.py
Due: deprecated-sqlalchemy-query-get

docs(todo): mark shared-potion-pool bug fixed tune(dungeon): lower default ambient encounter rate from 15% to 5% per move
  app/dungeon/api_helpers/encounters.py
  docs/superpowers/TODO.md
Due: deprecated-sqlalchemy-query-get
