Repository zebadrabbit/Adventure: changes, and which pre-commit hooks are due for each by the changed paths.
All: inline-style-check, inline-script-check, manual-version-token-check, optimize_svgs, deprecated-sqlalchemy-query-get

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: ["--config=pyproject.toml"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.7
    hooks:
      - id: ruff
        args: ["--fix"]
        # NOTE: ruff-format intentionally disabled to avoid oscillating diffs with Black.
        # Ruff lint (with --fix) handles import sorting; Black is sole formatter.
  - repo: local
    hooks:
      - id: inline-style-check
        name: Inline style attribute check
        entry: python scripts/check_inline_styles.py
        language: system
        pass_filenames: false
        types: [html]
      - id: inline-script-check
        name: Inline script block check
        entry: python scripts/check_inline_scripts.py
        language: system
        pass_filenames: false
        types: [html]
      - id: manual-version-token-check
        name: Manual static version token check
        entry: python scripts/check_static_version_tokens.py
        language: system
        pass_filenames: false
        types: [html]
      - id: optimize_svgs
        name: Optimize SVG assets
        entry: python scripts/optimize_svgs.py
        language: system
        files: '\\.(svg)$'
        stages: [commit]
      - id: deprecated-sqlalchemy-query-get
        name: Deprecated SQLAlchemy Query.get usage
        entry: python scripts/check_deprecated_query_get.py
        language: system
        pass_filenames: false
        types: [python]

fix(combat-ui): ignore out-of-order combat_update events (log clear/retype bug)
  app/static/js/combat.js
Due: none

docs(todo): mark combat log clear/retype bug fixed
  docs/superpowers/TODO.md
Due: none

docs(todo): log finite ambient-encounter-pool feature request
  docs/superpowers/TODO.md
Due: none

fix(combat): hide MP bar entirely for manaless classes (barbarian)
  app/static/js/combat.js
  app/templates/combat.html
  docs/superpowers/TODO.md
Due: inline-style-check, inline-script-check, manual-version-token-check

docs(todo): log unrealistic autofill character names
  docs/superpowers/TODO.md
Due: none

fix(autofill): use unsuffixed fantasy names from the curated pool
  app/routes/dashboard_helpers.py
  app/routes/main.py
  docs/superpowers/TODO.md
  tests/test_autofill_name_pools.py
Due: deprecated-sqlalchemy-query-get

fix(combat): resolve current dungeon instance from session, not guesswork
  app/services/combat_service.py
  docs/superpowers/TODO.md
  tests/test_combat_current_instance.py
Due: deprecated-sqlalchemy-query-get

docs(spec): dashboard hub layout & flow design
  docs/superpowers/specs/2026-06-20-dashboard-hub-layout-design.md
Due: none

refactor(dashboard): move hub actions into their own tabbed panel
  app/templates/dashboard.html
Due: inline-style-check, inline-script-check, manual-version-token-check

style(dashboard): theme the new hub actions panel
  app/static/css/dashboard.css
Due: none

docs(todo): mark dashboard hub layout & flow pass done
  docs/superpowers/TODO.md
Due: none

fix(dashboard): remove remaining brown/amber color literals
  app/static/css/dashboard.css
  app/templates/dashboard.html
Due: inline-style-check, inline-script-check, manual-version-token-check

fix(navbar): replace leftover Medieval Stone brown with Cold Steel panel color
  app/static/css/app.css
Due: none

docs(todo): log app.css's remaining card-header brown literal
  docs/superpowers/TODO.md
Due: none

fix(app.css): sweep remaining amber literals from buttons/glows/shadows
  app/static/css/app.css
Due: none

docs(todo): mark app.css amber-literal sweep done
  docs/superpowers/TODO.md
Due: none

fix(home): sweep home.css's remaining solid-hex amber/brown literals
  app/static/css/home.css
Due: none

docs(todo): mark landing page theming literal sweep done
  docs/superpowers/TODO.md
Due: none

docs(spec): landing page hero asymmetric split layout design
  docs/superpowers/specs/2026-06-20-landing-hero-layout-design.md
Due: none

refactor(home): restructure hero into asymmetric split layout
  app/static/css/home.css
  app/templates/index.html
Due: inline-style-check, inline-script-check, manual-version-token-check

docs(todo): mark landing page hero layout redesign done
  docs/superpowers/TODO.md
Due: none

fix(home): repair landing page footer
  app/routes/main.py
  app/templates/index.html
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

docs(todo): mark landing page footer fix done, log missing Support destination
  docs/superpowers/TODO.md
Due: none

docs(spec): self-stamping migration bootstrap design
  docs/superpowers/specs/2026-06-20-migrations-self-stamp-design.md
Due: none

feat(migrations): self-stamp Alembic to head on first bootstrap
  app/__init__.py
Due: deprecated-sqlalchemy-query-get

docs(todo): mark migrations vs dev DB fix done
  docs/superpowers/TODO.md
Due: none

fix(hooks): grandfather pre-existing inline style/script violations
  scripts/check_inline_scripts.py
  scripts/check_inline_styles.py
Due: deprecated-sqlalchemy-query-get

docs(todo): mark pre-commit hook bypass ratchet fix done
  docs/superpowers/TODO.md
Due: none

docs(todo): record test isolation audit, defer architecture fix
  docs/superpowers/TODO.md
Due: none

refactor(templates): extract inline styles from admin_items/monsters/game_config
  app/static/css/app.css
  app/templates/admin_game_config.html
  app/templates/admin_items.html
  app/templates/admin_monsters.html
  scripts/check_inline_styles.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

refactor(account): extract inline style attrs and script from settings.html
  app/static/js/account-settings.js
  app/templates/account/settings.html
  scripts/check_inline_scripts.py
  scripts/check_inline_styles.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

refactor(admin): extract server_status.html inline script
  app/static/js/admin-server-status.js
  app/templates/admin/server_status.html
  scripts/check_inline_scripts.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

refactor(admin): extract users.html inline script
  app/static/js/admin-users.js
  app/templates/admin/users.html
  scripts/check_inline_scripts.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

refactor(admin): extract database.html inline script
  app/static/js/admin-database.js
  app/templates/admin/database.html
  scripts/check_inline_scripts.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

refactor(admin): extract fog_settings.html inline script
  app/static/js/admin-fog-settings.js
  app/templates/admin/fog_settings.html
  scripts/check_inline_scripts.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

refactor(admin): extract progression_settings.html inline style+script
  app/static/js/admin-progression-settings.js
  app/templates/admin/progression_settings.html
  scripts/check_inline_scripts.py
  scripts/check_inline_styles.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

refactor(admin): extract loot_settings.html inline style+script
  app/static/js/admin-loot-settings.js
  app/templates/admin/loot_settings.html
  scripts/check_inline_scripts.py
  scripts/check_inline_styles.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

refactor(admin): extract combat_settings.html inline style+script
  app/static/js/admin-combat-settings.js
  app/templates/admin/combat_settings.html
  scripts/check_inline_scripts.py
  scripts/check_inline_styles.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

refactor(admin): extract dungeon_settings.html inline style+script
  app/static/js/admin-dungeon-settings.js
  app/templates/admin/dungeon_settings.html
  scripts/check_inline_scripts.py
  scripts/check_inline_styles.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

refactor(admin): extract seed_data.html inline style+script
  app/static/js/admin-seed-data.js
  app/templates/admin/seed_data.html
  scripts/check_inline_scripts.py
  scripts/check_inline_styles.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get
