Repository zebadrabbit/Adventure: changes, and which pre-commit hooks are due for each by the changed paths.
All: inline-style-check, inline-script-check, manual-version-token-check, optimize_svgs, deprecated-sqlalchemy-query-get

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: ["--config=pyproject.toml"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.7
    hooks:
      - id: ruff
        args: ["--fix"]
        # NOTE: ruff-format intentionally disabled to avoid oscillating diffs with Black.
        # Ruff lint (with --fix) handles import sorting; Black is sole formatter.
  - repo: local
    hooks:
      - id: inline-style-check
        name: Inline style attribute check
        entry: python scripts/check_inline_styles.py
        language: system
        pass_filenames: false
        types: [html]
      - id: inline-script-check
        name: Inline script block check
        entry: python scripts/check_inline_scripts.py
        language: system
        pass_filenames: false
        types: [html]
      - id: manual-version-token-check
        name: Manual static version token check
        entry: python scripts/check_static_version_tokens.py
        language: system
        pass_filenames: false
        types: [html]
      - id: optimize_svgs
        name: Optimize SVG assets
        entry: python scripts/optimize_svgs.py
        language: system
        files: '\\.(svg)$'
        stages: [commit]
      - id: deprecated-sqlalchemy-query-get
        name: Deprecated SQLAlchemy Query.get usage
        entry: python scripts/check_deprecated_query_get.py
        language: system
        pass_filenames: false
        types: [python]

docs(plan): implementation plan for encumbrance bar + affix breakdown
  docs/superpowers/plans/2026-06-17-equipment-encumbrance-affix.md
Due: none

fix(tooltips): render real gear-instance affixes instead of guessing
  app/static/js/tooltips.js
Due: none

feat(equipment): show encumbrance bar and equipped gear-bonus summary
  app/static/css/equipment.css
  app/static/js/equipment.js
Due: none

fix(equipment): add encumbrance bar + gear-bonus summary to the real equip panel; fix dict-gear crash
  app/routes/inventory_api.py
  app/static/js/equipment-enhanced.js
  tests/test_inventory_encumbrance.py
Due: deprecated-sqlalchemy-query-get

docs(todo): mark Spec 4b encumbrance/affix UI done; note shared-helper follow-up
  docs/superpowers/TODO.md
Due: none

docs(spec): design for character progression UI (Spec 5c)
  docs/superpowers/specs/2026-06-17-progression-ui-design.md
Due: none

docs(plan): implementation plan for character progression UI (Spec 5c)
  docs/superpowers/plans/2026-06-17-progression-ui.md
Due: none

feat(progression): expose stat_points + xp thresholds in character APIs
  app/routes/inventory_api.py
  tests/test_inventory_encumbrance.py
Due: deprecated-sqlalchemy-query-get

feat(progression): expose stat_points + current-level xp threshold on the dashboard
  app/routes/dashboard_helpers.py
  tests/test_gear_party_payload.py
Due: deprecated-sqlalchemy-query-get

feat(progression): server-render XP bar, stat-points badge, per-character skill button
  app/templates/dashboard.html
Due: inline-style-check, inline-script-check, manual-version-token-check

refactor(progression): rebuild stat-allocation UI against real backend data
  app/static/js/character-progression.js
Due: none

fix(skill-tree): open the clicked character's tree instead of always the first
  app/static/js/skill-tree.js
Due: none

fix(progression): restore updateXPBar compatibility shim for combat.js/loot-distribution.js callers
  app/static/js/character-progression.js
Due: none

docs(todo): mark Spec 5c progression UI done
  docs/superpowers/TODO.md
Due: none

fix(dungeon): roll back session on swallowed exceptions in dungeon_map
  app/routes/dungeon_api.py
Due: deprecated-sqlalchemy-query-get

docs(spec): Phase 1 design-system foundation (Cold Steel palette)
  .gitignore
  docs/superpowers/specs/2026-06-18-phase1-design-system-design.md
Due: none

docs(plan): implementation plan for Phase 1 design system foundation
  docs/superpowers/plans/2026-06-18-phase1-design-system.md
Due: none

feat(theme): introduce canonical --ui-* Cold Steel namespace
  app/static/css/theme.css
Due: none

feat(theme): unify typography on --ui-font, drop Georgia/Trebuchet
  app/static/css/tactical-theme.css
  app/static/css/theme.css
Due: none

feat(theme): point app.css's --adv-* palette at canonical --ui-* vars
  app/static/css/app.css
Due: none

feat(theme): emit --ui-* canonical namespace from Theme.to_css_variables
  app/models/theme.py
  tests/test_theme_css_variables.py
Due: deprecated-sqlalchemy-query-get

feat(theme): seed Cold Steel (active) and Classic Dungeon themes
  app/seed_themes.py
  run.py
  tests/test_seed_themes.py
Due: deprecated-sqlalchemy-query-get

fix(theme): make seed_themes exclusivity logic explicit, not loop-order-dependent
  app/seed_themes.py
Due: deprecated-sqlalchemy-query-get

feat(theme): wire active-theme CSS endpoint into player-facing templates
  app/templates/admin_base.html
  app/templates/base.html
  app/templates/combat.html
Due: inline-style-check, inline-script-check, manual-version-token-check

docs(todo): mark UI redesign Phase 1 (design system) done
  docs/superpowers/TODO.md
Due: none

docs(spec): Phase 2 hub/dashboard visual hierarchy polish
  docs/superpowers/specs/2026-06-19-phase2-hub-visual-hierarchy-design.md
Due: none

docs(plan): implementation plan for Phase 2 hub visual hierarchy polish
  docs/superpowers/plans/2026-06-19-phase2-hub-visual-hierarchy.md
Due: none

chore: auto bump version to 0.7.4
  VERSION
Due: none

chore(theme): remove dead --mud-* variable block from dashboard.css
  app/static/css/dashboard.css
Due: none

feat(theme): convert theme.css's embedded color literals to color-mix() on the Cold Steel namespace
  app/static/css/theme.css
Due: none

feat(theme): tighten stat-grid spacing and bump panel-header contrast
  app/static/css/theme.css
Due: none

docs(todo): mark UI redesign Phase 2 (hub visual hierarchy) done
  docs/superpowers/TODO.md
Due: none

docs(spec): Phase 3a Three.js dungeon scene (static tile grid) design
  docs/superpowers/specs/2026-06-19-phase3a-threejs-dungeon-scene-design.md
Due: none

docs(plan): implementation plan for Phase 3a Three.js dungeon scene
  docs/superpowers/plans/2026-06-19-phase3a-threejs-dungeon-scene.md
Due: none

feat(dungeon-three): scaffold Three.js renderer behind ?renderer=three toggle
  app/static/js/dungeon-three.js
  app/static/js/three-importmap.json
Due: none

feat(dungeon-three): wire renderer toggle into adventure.html/adventure.js
  app/static/js/adventure.js
  app/templates/adventure.html
Due: inline-style-check, inline-script-check, manual-version-token-check

fix(dungeon-three): import three.js directly from CDN URL, drop broken external import map
  app/static/js/three-importmap.json
Due: none

fix(dungeon-three): import three.js directly from CDN URL in module, update template comment
  app/static/js/dungeon-three.js
  app/templates/adventure.html
Due: inline-style-check, inline-script-check, manual-version-token-check
