Repository zebadrabbit/Adventure: changes, and which pre-commit hooks are due for each by the changed paths.
All: inline-style-check, inline-script-check, manual-version-token-check, optimize_svgs, deprecated-sqlalchemy-query-get

inline-style-check:
  name: Inline style attribute check
  entry: python scripts/check_inline_styles.py
  language: system
  pass_filenames: false

inline-script-check:
  name: Inline script block check
  entry: python scripts/check_inline_scripts.py
  language: system
  pass_filenames: false

manual-version-token-check:
  name: Manual static version token check
  entry: python scripts/check_static_version_tokens.py
  language: system
  pass_filenames: false

optimize_svgs:
  name: Optimize SVG assets
  entry: python scripts/optimize_svgs.py
  language: system
  stages:
  - commit

deprecated-sqlalchemy-query-get:
  name: Deprecated SQLAlchemy Query.get usage
  entry: python scripts/check_deprecated_query_get.py
  language: system
  pass_filenames: false

refactor(combat): extract combat.html inline style attrs
  app/static/css/combat.css
  app/templates/combat.html
  scripts/check_inline_styles.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

refactor(dashboard): extract dashboard.html inline styles+script
  app/static/css/dashboard.css
  app/static/js/dashboard-operative-cards.js
  app/static/js/dashboard.js
  app/templates/dashboard.html
  scripts/check_inline_scripts.py
  scripts/check_inline_styles.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

refactor(adventure): extract adventure.html inline styles+scripts
  app/static/js/adventure-controls.js
  app/static/js/adventure-extraction.js
  app/templates/adventure.html
  scripts/check_inline_scripts.py
  scripts/check_inline_styles.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

refactor(admin): extract admin_themes.html inline styles+scripts
  app/static/js/admin-themes-dropzone-init.js
  app/static/js/admin-themes-editor.js
  app/templates/admin_themes.html
  scripts/check_inline_scripts.py
  scripts/check_inline_styles.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

docs(todo): mark inline style/script extraction follow-up done
  docs/superpowers/TODO.md
Due: none

test(isolation): wrap each test in a SAVEPOINT and roll back after
  tests/conftest.py
Due: deprecated-sqlalchemy-query-get

docs(todo): mark test isolation fix done (per-test SAVEPOINT rollback)
  docs/superpowers/TODO.md
Due: none

docs(spec): character cards Phase A - persistent status effects design
  docs/superpowers/specs/2026-06-20-character-cards-phase-a-status-effects-design.md
Due: none

docs(plan): character cards Phase A implementation plan
  docs/superpowers/plans/2026-06-20-character-cards-phase-a-status-effects.md
Due: none

feat(models): add CharacterStatusEffect for persistent per-character effects
  app/models/__init__.py
  app/models/status_effect.py
  migrations/versions/c7d8e9f0a1b2_add_character_status_effect.py
  tests/test_status_effects_decay.py
Due: deprecated-sqlalchemy-query-get

feat(services): add compute_hp_mana_max helper for status-effect decay
  app/services/character_stats.py
  tests/test_status_effects_decay.py
Due: deprecated-sqlalchemy-query-get

feat(services): add apply_tick_decay for persistent poison + out-of-combat regen
  app/services/status_effects.py
  tests/conftest.py
  tests/test_status_effects_decay.py
Due: deprecated-sqlalchemy-query-get

fix(status-effects): don't rewrite char.stats when hp/mana unchanged
  app/services/status_effects.py
  tests/test_status_effects_decay.py
Due: deprecated-sqlalchemy-query-get

feat(time): apply persistent status-effect decay on overworld tick advance
  app/services/time_service.py
  tests/test_time_system.py
Due: deprecated-sqlalchemy-query-get

feat(combat): load/apply/persist poison across combat boundaries
  app/services/combat_service.py
  tests/test_combat_poison_persistence.py
Due: deprecated-sqlalchemy-query-get

fix(test-isolation): the SAVEPOINT-based fixture from earlier this session never worked
  tests/conftest.py
  tests/test_legacy_password_upgrade.py
  tests/test_legacy_sha256_upgrade.py
Due: deprecated-sqlalchemy-query-get

docs(todo): mark character cards Phase A done, log test-isolation fix
  docs/superpowers/TODO.md
Due: none

docs+chore: address final review findings for character cards Phase A
  app/services/status_effects.py
  docs/superpowers/TODO.md
  docs/superpowers/specs/2026-06-20-character-cards-phase-a-status-effects-design.md
Due: deprecated-sqlalchemy-query-get

fix(status-effects): scope apply_tick_decay to the acting character/party
  app/dungeon/api_helpers/perception.py
  app/routes/dungeon_api.py
  app/routes/inventory_api.py
  app/services/status_effects.py
  app/services/time_service.py
  docs/superpowers/plans/2026-06-20-dashboard-hub-layout.md
  tests/test_status_effects_decay.py
  tests/test_time_system.py
Due: deprecated-sqlalchemy-query-get

docs: restructure README around gameplay, consolidate changelog, expand DEVELOPMENT.md
  CHANGELOG.md
  README.md
  docs/CHANGELOG.md
  docs/COMBAT_SYSTEM.md
  docs/DEVELOPMENT.md
  docs/HP_MP_PERSISTENCE.md
  docs/LOOT_SYSTEM.md
  docs/README.md
  docs/RELEASING.md
  docs/architecture.md
  docs/websocket_events.md
Due: none

chore: auto bump version to 0.7.5
  CHANGELOG.md
  VERSION
Due: none

fix(dashboard): backfill missing hp/mana to computed max, not 0
  app/routes/dashboard_helpers.py
  docs/superpowers/TODO.md
  tests/conftest.py
  tests/test_gear_party_payload.py
Due: deprecated-sqlalchemy-query-get

docs(spec): combat skill buttons design
  docs/superpowers/specs/2026-06-21-combat-skill-buttons-design.md
Due: none

docs(plan): combat skill buttons implementation plan
  docs/superpowers/plans/2026-06-21-combat-skill-buttons.md
Due: none

feat(skills): expose cooldown on GET /api/characters/<id>/skills
  app/routes/skill_api.py
  tests/test_character_skills_api.py
Due: deprecated-sqlalchemy-query-get

feat(combat): render unlocked active skills as combat action buttons
  app/static/js/combat.js
Due: none

docs(todo): mark combat action panel skill-button wiring done, note manual verification outstanding
  docs/superpowers/TODO.md
Due: none

fix(combat): avoid innerHTML XSS sink for skill button names
  app/static/js/combat.js
Due: none

docs(spec): help/wiki page design
  docs/superpowers/specs/2026-06-21-help-wiki-page-design.md
Due: none

docs(plan): help/wiki page implementation plan
  docs/superpowers/plans/2026-06-21-help-wiki-page.md
Due: none

feat(help): add help/wiki page, wire footer Support link
  app/routes/main.py
  app/templates/help.html
  app/templates/index.html
  app/templates/partials/footer.html
  tests/test_main_pages.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

feat(help): capture real screenshots for the help page
  app/static/img/help/combat-action-panel.png
  app/static/img/help/dashboard-overview.png
  app/static/img/help/extraction-modal.png
  app/static/img/help/hoard-modal.png
  app/static/img/help/skill-tree-modal.png
  requirements-dev.txt
  scripts/screenshot_help.py
Due: deprecated-sqlalchemy-query-get

docs(todo): mark help/support destination done, note skill-tree.js bug found
  docs/superpowers/TODO.md
Due: none

fix(skill-tree): switchTree() no longer relies on stale window.event
  app/static/js/skill-tree.js
  docs/superpowers/TODO.md
Due: none

fix(manage.sh): restart no longer silently no-ops when stopped
  docs/superpowers/TODO.md
  manage.sh
Due: none

docs(spec): ambient encounters finite-pool design
  docs/superpowers/specs/2026-06-21-ambient-encounters-finite-pool-design.md
Due: none

docs(spec): add ambient-tier monster variety fix to encounters spec
  docs/superpowers/specs/2026-06-21-ambient-encounters-finite-pool-design.md
Due: none

docs(todo): log dungeon enemy theming as a sequenced follow-up
  docs/superpowers/TODO.md
Due: none

docs(plan): ambient encounters finite-pool implementation plan
  docs/superpowers/plans/2026-06-21-ambient-encounters-finite-pool.md
Due: none

feat(spawn): add proximity aggro for ambient-tier spawns
  app/dungeon/spawn_manager.py
  tests/test_spawn_aggro.py
Due: deprecated-sqlalchemy-query-get

Path conditions:
  inline-style-check: any of: \.(html|htm|xhtml)$
  inline-script-check: any of: \.(html|htm|xhtml)$
  manual-version-token-check: any of: \.(html|htm|xhtml)$
  optimize_svgs: any of: \\.(svg)$
  deprecated-sqlalchemy-query-get: any of: \.py$
