Repository zebadrabbit/Adventure: changes, and which pre-commit hooks are due for each by the changed paths.
All: inline-style-check, inline-script-check, manual-version-token-check, optimize_svgs, deprecated-sqlalchemy-query-get

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: ["--config=pyproject.toml"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.7
    hooks:
      - id: ruff
        args: ["--fix"]
        # NOTE: ruff-format intentionally disabled to avoid oscillating diffs with Black.
        # Ruff lint (with --fix) handles import sorting; Black is sole formatter.
  - repo: local
    hooks:
      - id: inline-style-check
        name: Inline style attribute check
        entry: python scripts/check_inline_styles.py
        language: system
        pass_filenames: false
        types: [html]
      - id: inline-script-check
        name: Inline script block check
        entry: python scripts/check_inline_scripts.py
        language: system
        pass_filenames: false
        types: [html]
      - id: manual-version-token-check
        name: Manual static version token check
        entry: python scripts/check_static_version_tokens.py
        language: system
        pass_filenames: false
        types: [html]
      - id: optimize_svgs
        name: Optimize SVG assets
        entry: python scripts/optimize_svgs.py
        language: system
        files: '\\.(svg)$'
        stages: [commit]
      - id: deprecated-sqlalchemy-query-get
        name: Deprecated SQLAlchemy Query.get usage
        entry: python scripts/check_deprecated_query_get.py
        language: system
        pass_filenames: false
        types: [python]

chore(css): consolidate core styles into app.css and update templates
  app/static/adv-theme.css
  app/static/app.css
  app/static/utilities.css
  app/templates/base.html
  app/templates/dashboard_base.html
Due: inline-style-check, inline-script-check, manual-version-token-check

perf(entities): use /api/dungeon/entities instead of map?entities=1 for fallback refresh
  app/static/js/adventure.js
Due: none

chore: remove broken chat-widget.css reference, add deprecation stubs
  app/static/chat-widget.css
  app/static/chat-widget.js
  app/templates/dashboard_base.html
Due: inline-style-check, inline-script-check, manual-version-token-check

feat(adventure): restore loot search prompts (banner + inline button detection)
  app/static/js/adventure.js
Due: none

Add complete glass-morphism theme system with background images
  .dockerignore
  .env.example
  README.md
  alembic.ini
  app/__init__.py
  app/models/theme.py
  app/routes/theme_api.py
  app/static/css/auth.css
  app/static/css/combat.css
  app/static/css/dashboard.css
  app/static/css/glass-theme.css
  app/templates/account/settings.html
  app/templates/admin_base.html
  app/templates/admin_dashboard.html
  app/templates/admin_themes.html
  app/templates/adventure.html
  app/templates/base.html
  app/templates/login.html
  app/templates/register.html
  docs/DOCKER_SETUP.md
  docs/DUNGEON_GENERATION.md
  instance/mud.db
  migrations/env.py
  migrations/versions/22c97d4882cc_add_card_opacity_to_theme.py
  migrations/versions/c146a28995f8_add_background_image_to_theme.py
  migrations/versions/dbbc4082d8a3_add_gradient_fields_to_theme_model.py
  scripts/setup_adventure.py
  tests/conftest.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

docs: dungeon rescue stabilization design (carve-floor-first generator + 4-phase plan)
  docs/superpowers/specs/2026-06-14-dungeon-rescue-design.md
Due: none

docs: implementation plan for carve-floor-first dungeon generator (Phases 0-1)
  docs/superpowers/plans/2026-06-14-dungeon-generator-rewrite.md
Due: none

docs: add TESTING.md with venv + DB bootstrap
  docs/TESTING.md
Due: none

test: quarantine contradictory locked-door + teleport tests; fix deprecated Query.get
  app/routes/achievement_api.py
  app/routes/party_api.py
  app/routes/skill_api.py
  app/routes/trading_api.py
  tests/test_dungeon_invariants.py
  tests/test_dungeon_teleport_movement.py
Due: deprecated-sqlalchemy-query-get

feat(dungeon): room spacing pad + organic blob rooms
  app/dungeon/config.py
  app/dungeon/rooms.py
  tests/test_dungeon_carve_floor.py
Due: deprecated-sqlalchemy-query-get

feat(dungeon): carve-floor-first generator rewrite (drop repair/teleport passes)
  app/dungeon/connect.py
  app/dungeon/dungeon.py
  tests/test_dungeon_carve_floor.py
  tests/test_secret_locked_doors.py
Due: deprecated-sqlalchemy-query-get

test(dungeon): golden-seed determinism + resolve locked-door invariant
  tests/test_dungeon_golden_seeds.py
  tests/test_dungeon_invariants.py
Due: deprecated-sqlalchemy-query-get

fix(db): quote reserved 'user' table in before_insert hook; roll back failed bootstraps
  app/__init__.py
  app/models/models.py
Due: deprecated-sqlalchemy-query-get

fix(seed): portable multi-statement SQL exec (SQLite/Postgres); skip SQLite-only test
  app/seed_items.py
  tests/test_lazy_migration_explored_tiles.py
  tests/test_monsters.py
Due: deprecated-sqlalchemy-query-get

fix(seed): use boolean literals for monster_catalog.boss (Postgres compatibility)
  sql/monsters_seed.sql
Due: none

docs: record dungeon rewrite execution status and remaining Phase 2/3 follow-ups
  docs/superpowers/plans/2026-06-14-dungeon-generator-rewrite.md
Due: none

fix: resolve remaining 11 test failures (suite now fully green)
  app/dungeon/movement_handler.py
  app/routes/dashboard.py
  app/routes/dashboard_helpers.py
  app/routes/main.py
  app/services/auto_equip.py
  scripts/test_hp_mp_persistence.py
  tests/conftest.py
  tests/test_combat_actions.py
  tests/test_entity_seeding.py
  tests/test_server_extended.py
Due: deprecated-sqlalchemy-query-get

feat(ui): textured dungeon tiles for a readable, atmospheric map
  app/static/js/dungeon-canvas.js
Due: none

chore(dungeon): remove dead legacy tunnels.py generator
  app/dungeon/tunnels.py
Due: deprecated-sqlalchemy-query-get

docs(spec): gear & naming system design (procedural archetypes + hybrid affixes)
  docs/superpowers/specs/2026-06-15-gear-naming-system-design.md
Due: none

docs(plan): gear & naming system implementation plan (TDD, 6 phases)
  docs/superpowers/plans/2026-06-15-gear-naming-system.md
Due: none

chore(seed): remove hand-tiered weapon/armor/jewelry catalog (superseded by archetypes)
  app/__pycache__/__init__.cpython-312.pyc
  app/__pycache__/server.cpython-312.pyc
  app/models/__pycache__/models.cpython-312.pyc
  app/routes/__pycache__/auth.cpython-312.pyc
  app/routes/__pycache__/main.cpython-312.pyc
  app/seed_items.py
  app/websockets/__pycache__/game.cpython-312.pyc
  app/websockets/__pycache__/lobby.cpython-312.pyc
  sql/items_armor.sql
  sql/items_weapons.sql
Due: deprecated-sqlalchemy-query-get

fix(seed): clean fresh-DB reseed (item.level helper + server_default columns) and fix admin reseed file list
  app/models/enemy_archetype.py
  app/routes/admin_new.py
  app/seed_items.py
  tests/test_seed_items_level.py
Due: deprecated-sqlalchemy-query-get

feat(infra): one-command Postgres bootstrap script + docs
  app/seed_items.py
  docs/TESTING.md
  scripts/bootstrap_db.sh
  sql/procedural_affixes_seed.sql
Due: deprecated-sqlalchemy-query-get

feat(gear): rarity tiers data module
  app/loot/__init__.py
  app/loot/data/__init__.py
  app/loot/data/rarities.py
  tests/test_gear_rarities.py
Due: deprecated-sqlalchemy-query-get

feat(gear): base item archetype table (8 slots)
  app/loot/data/archetypes.py
  tests/test_gear_archetypes.py
Due: deprecated-sqlalchemy-query-get

feat(gear): single-stat prefix table
  app/loot/data/prefixes.py
  tests/test_gear_prefixes.py
Due: deprecated-sqlalchemy-query-get

feat(gear): themed stat-package suffix table
  app/loot/data/suffixes.py
  tests/test_gear_suffixes.py
Due: deprecated-sqlalchemy-query-get

content(gear): expand themed suffixes and prefixes
  app/loot/data/prefixes.py
  app/loot/data/suffixes.py
Due: deprecated-sqlalchemy-query-get

feat(gear): item name composition
  app/loot/naming.py
  tests/test_gear_naming.py
Due: deprecated-sqlalchemy-query-get

feat(gear): procedural item generator (archetype+rarity+affixes)
  app/loot/generator.py
  tests/test_gear_generator.py
Due: deprecated-sqlalchemy-query-get

feat(gear): gear_bonuses stat aggregation helper
  app/loot/equip.py
  tests/test_gear_equip.py
Due: deprecated-sqlalchemy-query-get

feat(gear): equipped affixes modify combat-derived stats
  app/services/combat_service.py
  tests/test_gear_combat_integration.py
Due: deprecated-sqlalchemy-query-get

feat(gear): dashboard party payload reflects equipped gear
  app/routes/dashboard_helpers.py
  tests/test_gear_party_payload.py
Due: deprecated-sqlalchemy-query-get

feat(gear): roll_loot emits procedural gear instances
  app/services/loot_service.py
  tests/test_loot_instances.py
Due: deprecated-sqlalchemy-query-get

feat(gear): store generated gear instances in inventory on reward/claim
  app/dungeon/api_helpers/treasure.py
  app/loot/inventory.py
  app/services/combat_service.py
  tests/test_gear_reward_storage.py
Due: deprecated-sqlalchemy-query-get

feat(gear): equip/unequip API for the 8 gear slots
  app/routes/inventory_api.py
  tests/test_gear_equip_api.py
Due: deprecated-sqlalchemy-query-get

feat(gear): equip/unequip API for the 8 gear slots
  app/services/loot_service.py
  tests/test_gear_equip_api.py
Due: deprecated-sqlalchemy-query-get
