Repository zebadrabbit/Adventure: changes, and which pre-commit hooks are due for each by the changed paths.
All: inline-style-check, inline-script-check, manual-version-token-check, optimize_svgs, deprecated-sqlalchemy-query-get

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: ["--config=pyproject.toml"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.7
    hooks:
      - id: ruff
        args: ["--fix"]
        # NOTE: ruff-format intentionally disabled to avoid oscillating diffs with Black.
        # Ruff lint (with --fix) handles import sorting; Black is sole formatter.
  - repo: local
    hooks:
      - id: inline-style-check
        name: Inline style attribute check
        entry: python scripts/check_inline_styles.py
        language: system
        pass_filenames: false
        types: [html]
      - id: inline-script-check
        name: Inline script block check
        entry: python scripts/check_inline_scripts.py
        language: system
        pass_filenames: false
        types: [html]
      - id: manual-version-token-check
        name: Manual static version token check
        entry: python scripts/check_static_version_tokens.py
        language: system
        pass_filenames: false
        types: [html]
      - id: optimize_svgs
        name: Optimize SVG assets
        entry: python scripts/optimize_svgs.py
        language: system
        files: '\\.(svg)$'
        stages: [commit]
      - id: deprecated-sqlalchemy-query-get
        name: Deprecated SQLAlchemy Query.get usage
        entry: python scripts/check_deprecated_query_get.py
        language: system
        pass_filenames: false
        types: [python]

feat(dungeon): add difficulty selector, affix picker, threat rating to dungeon screen
  app/static/css/app.css
  app/static/css/dungeon-config.css
  app/static/js/dungeon-config.js
  app/templates/dashboard.html
Due: inline-style-check, inline-script-check, manual-version-token-check

feat(dungeon): hook difficulty/affix achievements into extraction
  app/seed_dungeon_achievements.py
  app/services/achievement_service.py
  app/services/extraction_service.py
  run.py
Due: deprecated-sqlalchemy-query-get

fix(hoard): deposit one unit not whole stack; remove double commit in buy_item
  app/economy/hoard_service.py
  app/routes/trading_api.py
Due: deprecated-sqlalchemy-query-get

feat(equipment): portrait panel + MMO item grid replaces paper doll and list
  app/static/css/equipment.css
  app/static/js/equipment-enhanced.js
Due: none

fix(equipment): use currentTarget in dragstart; add click-to-equip and error toast
  app/static/js/equipment-enhanced.js
Due: none

fix(equipment): send slug not item_slug to match equip API
  app/static/js/equipment-enhanced.js
Due: none

fix(equipment): read stats from api stats.base/computed; show STR/CON/DEX/INT; fix class name and max_hp/mp formula
  app/static/js/equipment-enhanced.js
Due: none

fix(merchants): update seed slugs to match actual item slugs (hyphens not underscores)
  app/seed_merchants.py
Due: deprecated-sqlalchemy-query-get

fix(equipment): cache Bootstrap modal instance to prevent stacked backdrops on reopen
  app/static/js/equipment-enhanced.js
Due: none

chore(ui): remove redundant bag button and inline inventory list from character cards
  app/templates/dashboard.html
Due: inline-style-check, inline-script-check, manual-version-token-check

fix(combat): remove d-none class to show action panel (style.display cant override !important)
  app/static/js/combat.js
Due: none

fix(combat): declare action variable before cloneNode so click handler closure captures it
  app/static/js/combat.js
Due: none

docs(plan): extend ponytail audit cleanup plan with tasks 6-10, correct psycopg2 claim
  docs/superpowers/plans/2026-06-26-ponytail-audit-cleanup.md
Due: none

delete: remove dead logging_config, chat-widget stub, unregistered debug_api
  app/logging_config.py
  app/routes/debug_api.py
  app/static/chat-widget.js
Due: deprecated-sqlalchemy-query-get

refactor: unify logging — migrate logging_utils callers to structlog, delete logging_utils
  app/dungeon/api_helpers/perception.py
  app/dungeon/movement_handler.py
  app/logging_utils.py
  app/websockets/game.py
Due: deprecated-sqlalchemy-query-get

fix(logging): migrate run.py startup/listen events from logging_utils to structlog
  run.py
Due: deprecated-sqlalchemy-query-get

refactor: inline compose_name into generator, delete loot/naming.py
  app/loot/generator.py
  app/loot/naming.py
  tests/test_gear_naming.py
Due: deprecated-sqlalchemy-query-get

test: add name composition validation to test_gear_generator.py
  tests/test_gear_generator.py
Due: deprecated-sqlalchemy-query-get

test: improve name composition validation with position assertions
  tests/test_gear_generator.py
Due: deprecated-sqlalchemy-query-get

test(gear): validate composed item name against affix data pools, not name-derived slices
  tests/test_gear_generator.py
Due: deprecated-sqlalchemy-query-get

refactor: consolidate gear_bonuses and add_gear_to_character into loot_service, delete loot/equip.py and loot/inventory.py
  app/dungeon/api_helpers/treasure.py
  app/loot/equip.py
  app/loot/inventory.py
  app/routes/dashboard_helpers.py
  app/services/character_stats.py
  app/services/combat_service.py
  app/services/loot_service.py
  tests/test_durability.py
  tests/test_gear_equip.py
  tests/test_gear_reward_storage.py
Due: deprecated-sqlalchemy-query-get

chore: remove unused redis dependency, compose service, and REDIS_URL env
  .env.example
  docker-compose.yml
  docs/DEPLOYMENT.md
  docs/INFRASTRUCTURE_SUMMARY.md
  requirements.txt
Due: none

delete: remove unreferenced JS (dashboard-autofill, fog_admin_modal, party) and empty app/utils package
  app/static/js/dashboard-autofill.js
  app/static/js/fog_admin_modal.js
  app/static/js/party.js
Due: none

delete: remove experimental Three.js renderer (dungeon-three.js) and its toggle plumbing
  app/static/js/adventure.js
  app/static/js/dungeon-three.js
  app/templates/adventure.html
Due: inline-style-check, inline-script-check, manual-version-token-check

feat(security): refuse to start in production with default SECRET_KEY
  app/__init__.py
  app/services/rate_limiter.py
  tests/test_secret_key_guard.py
Due: deprecated-sqlalchemy-query-get

refactor(admin): consolidate admin panels into single blueprint, delete legacy admin.py
  app/__init__.py
  app/routes/admin.py
  app/routes/admin_new.py
  app/routes/theme_api.py
  app/templates/admin_base.html
  app/templates/admin_game_config.html
  app/templates/admin_game_rules.html
  app/templates/admin_users.html
  app/templates/base.html
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

refactor(db): consolidate four migration mechanisms into alembic-only path
  app/__init__.py
  app/migrations/__init__.py
  app/server.py
  migrations/versions/b1c2d3e4f5a6_legacy_baseline_guards.py
  tests/conftest.py
  tests/test_lazy_migration_explored_tiles.py
  tests/test_loot_generation.py
  tests/test_moderation_commands.py
  tests/test_server_extended.py
  tests/test_time_system.py
Due: deprecated-sqlalchemy-query-get

fix: reject shipped placeholder SECRET_KEYs in prod; stamp fresh DBs at head
  app/__init__.py
  tests/test_secret_key_guard.py
Due: deprecated-sqlalchemy-query-get

chore: auto bump version to 0.7.13
  CHANGELOG.md
  VERSION
Due: none

chore: follow-up sweep — remove dead debug-loot endpoint/plumbing, redundant script, stale docs; scope continue_adventure test
  app/routes/dungeon_api.py
  app/static/js/adventure.js
  docs/DEVELOPMENT.md
  docs/INFRASTRUCTURE_SUMMARY.md
  docs/STRUCTLOG_PROGRESS.md
  scripts/upgrade_explored_tiles.py
  tests/test_continue_adventure.py
Due: deprecated-sqlalchemy-query-get

fix(tests): scope camp regen tests to logged-in user, not global first()
  tests/test_camp_regen_buff.py
Due: deprecated-sqlalchemy-query-get

chore: auto bump version to 0.7.14
  CHANGELOG.md
  VERSION
Due: none

fix(docker): CMD targeted nonexistent run:app (crash on boot); update TODO.md for the 2026-07-16 maintenance pass
  Dockerfile
  docs/superpowers/TODO.md
Due: none

chore(deps): migrate Socket.IO async backend from eventlet to gevent
  .env.example
  Dockerfile
  app/__init__.py
  app/routes/dungeon_api.py
  app/server.py
  app/services/rate_limiter.py
  docker-compose.yml
  docs/DOCKER_SETUP.md
  docs/INFRASTRUCTURE_SUMMARY.md
  requirements.txt
Due: deprecated-sqlalchemy-query-get

chore: auto bump version to 0.7.15
  CHANGELOG.md
  VERSION
Due: none

docs(todo): record live-browser verification pass (3/3 PASS), cooldown fix, and reseed-items FK regression
  docs/superpowers/TODO.md
Due: none

fix(combat): refresh skill cache after cast and parse cooldown ts as UTC
  app/static/js/combat.js
Due: none

chore: auto bump version to 0.7.16
  CHANGELOG.md
  VERSION
Due: none

docs(todo): mark reseed-items FK regression fixed
  docs/superpowers/TODO.md
Due: none

fix(seed): clear dungeon_loot rows before deleting seeded items
  app/seed_items.py
  tests/test_reseed_items_fk.py
Due: deprecated-sqlalchemy-query-get
