Repository zebadrabbit/Adventure: changes, and which pre-commit hooks are due for each by the changed paths.
All: inline-style-check, inline-script-check, manual-version-token-check, optimize_svgs, deprecated-sqlalchemy-query-get

inline-style-check:
  name: Inline style attribute check
  entry: python scripts/check_inline_styles.py
  language: system
  pass_filenames: false

inline-script-check:
  name: Inline script block check
  entry: python scripts/check_inline_scripts.py
  language: system
  pass_filenames: false

manual-version-token-check:
  name: Manual static version token check
  entry: python scripts/check_static_version_tokens.py
  language: system
  pass_filenames: false

optimize_svgs:
  name: Optimize SVG assets
  entry: python scripts/optimize_svgs.py
  language: system
  stages:
  - commit

deprecated-sqlalchemy-query-get:
  name: Deprecated SQLAlchemy Query.get usage
  entry: python scripts/check_deprecated_query_get.py
  language: system
  pass_filenames: false

docs(plan): tick off executed repo-health checklist
  docs/superpowers/plans/2026-07-27-repo-health-review.md
Due: none

chore(security): bump Flask 3.1.3, Werkzeug 3.1.8, python-dotenv 1.2.2, python-socketio 5.16.3, Flask-SocketIO 5.6.1
  requirements.txt
Due: none

docs(spec): rooms-and-mazes generator + multi-floor dungeon design
  docs/superpowers/specs/2026-07-27-maze-gen-multifloor-design.md
Due: none

feat(dungeon): rooms-and-mazes generator, multi-floor dungeons, sealed loot room + exit portal
  app/dungeon/__init__.py
  app/dungeon/api_helpers/movement.py
  app/dungeon/api_helpers/perception.py
  app/dungeon/api_helpers/tiles.py
  app/dungeon/config.py
  app/dungeon/connect.py
  app/dungeon/dungeon.py
  app/dungeon/movement_handler.py
  app/dungeon/room_events.py
  app/dungeon/rooms.py
  app/dungeon/spawn_integration.py
  app/dungeon/spawn_manager.py
  app/dungeon/tiles.py
  app/routes/dungeon_api.py
  app/routes/loot_api.py
  app/routes/seed_api.py
  app/static/js/adventure.js
  app/static/js/dungeon-canvas.js
  tests/conftest.py
  tests/test_corridor_gap_repair.py
  tests/test_dungeon_carve_floor.py
  tests/test_dungeon_invariants.py
Due: deprecated-sqlalchemy-query-get

fix(run): make a dungeon run actually complete end to end
  CHANGELOG.md
  app/dungeon/api_helpers/encounters.py
  app/loot/generator.py
  app/models/dungeon_instance.py
  app/models/models.py
  app/routes/dashboard.py
  app/routes/dungeon_api.py
  app/services/combat_service.py
  app/static/js/adventure-controls.js
  app/static/js/adventure-extraction.js
  app/templates/adventure.html
  app/templates/help.html
  docs/EXTRACTION_IMPLEMENTATION.md
  docs/Gameplay/DESIGN.md
  docs/TESTING.md
  migrations/versions/d9e2f3a4b5c6_add_dungeon_snapshot_to_combat_session.py
  tests/test_full_run_e2e.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

feat(extraction): scope the early-exit XP penalty to the run, tunable in admin
  CHANGELOG.md
  app/routes/admin_new.py
  app/routes/dashboard.py
  app/services/extraction_service.py
  app/services/progression.py
  app/templates/admin/dungeon_settings.html
  app/templates/admin/progression_settings.html
  app/templates/adventure.html
  docs/EXTRACTION_IMPLEMENTATION.md
  docs/Gameplay/DESIGN.md
  tests/test_extraction.py
  tests/test_full_run_e2e.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

fix(dashboard): commit the party to the run on every entry path
  CHANGELOG.md
  app/routes/dashboard.py
  docs/EXTRACTION_IMPLEMENTATION.md
  tests/test_full_run_e2e.py
Due: deprecated-sqlalchemy-query-get

feat(admin): wire the settings that claim to tune the game; close extraction gaps
  CHANGELOG.md
  app/routes/admin_new.py
  app/routes/dungeon_api.py
  app/services/extraction_service.py
  app/static/js/adventure-extraction.js
  app/templates/admin/combat_settings.html
  app/templates/admin/dungeon_settings.html
  app/templates/admin/fog_settings.html
  app/templates/admin/loot_settings.html
  app/templates/admin/progression_settings.html
  app/templates/adventure.html
  docs/EXTRACTION_IMPLEMENTATION.md
  tests/test_admin_settings_reach_gameplay.py
  tests/test_extraction.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

chore: auto bump version to 0.8.0
  CHANGELOG.md
  VERSION
Due: none

fix(combat): spread monster attacks; stop landing turns on downed characters
  app/services/combat_service.py
  docs/superpowers/TODO.md
  docs/superpowers/plans/2026-07-27-playtest-triage.md
  tests/test_combat_targeting_and_downed_turns.py
Due: deprecated-sqlalchemy-query-get

feat(monsters): 105-monster compendium; elites and bosses get real identities
  CHANGELOG.md
  app/dungeon/spawn_integration.py
  app/services/spawn_service.py
  docs/EXTRACTION_IMPLEMENTATION.md
  sql/monsters_seed.sql
  tests/test_spawn_integration_catalog.py
Due: deprecated-sqlalchemy-query-get

feat(map): render the dungeon from a 16x16 tileset, with procedural fallback
  .gitignore
  README.md
  app/static/js/dungeon-canvas.js
  docs/ASSETS.md
  scripts/import_tiles.sh
Due: none

fix(roster): let dead characters be deleted, and stop conscripting them
  CHANGELOG.md
  app/routes/dashboard.py
  app/routes/dashboard_helpers.py
  app/services/character_service.py
  app/templates/dashboard.html
  docs/superpowers/TODO.md
  tests/test_character_deletion_and_dead_roster.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

fix(spawns): place monsters as separated packs; spells always cost mana
  app/dungeon/spawn_manager.py
  app/routes/dungeon_api.py
  app/services/combat_service.py
  docs/superpowers/specs/2026-07-27-soulstone-checkpoints-design.md
  docs/superpowers/specs/2026-07-27-tile-atlas-proposal.md
  tests/test_spawn_grouping.py
  tests/test_spell_mana_cost.py
Due: deprecated-sqlalchemy-query-get

feat(dungeon): camping costs supplies and carries risk; floor difficulty curve
  CHANGELOG.md
  app/dungeon/room_events.py
  app/routes/dashboard.py
  app/routes/dungeon_api.py
  app/routes/main.py
  app/seed_merchants.py
  app/static/js/adventure-controls.js
  docs/superpowers/TODO.md
  docs/superpowers/plans/2026-07-27-playtest-triage.md
  tests/test_camp_regen_buff.py
  tests/test_camp_supplies_and_cooldown.py
  tests/test_floor_difficulty_curve.py
Due: deprecated-sqlalchemy-query-get

chore(agents): add a styling agent for the UI remodel
  .claude/agents/styling.md
Due: none

fix(combat): make spells and skills scale with the character using them
  CHANGELOG.md
  app/services/combat_service.py
  docs/superpowers/TODO.md
  docs/superpowers/plans/2026-07-27-playtest-triage.md
  scripts/audit_combat_damage.py
  tests/test_cast_skill.py
  tests/test_combat_damage_scaling.py
  tests/test_combat_spell_outcomes.py
Due: deprecated-sqlalchemy-query-get

chore: auto bump version to 0.8.1
  CHANGELOG.md
  VERSION
Due: none

feat(design): establish one source of truth for the visual design
  CHANGELOG.md
  app/seed_themes.py
  app/static/css/auth.css
  app/static/css/theme.css
  app/static/css/tokens.css
  app/templates/base.html
  docs/DESIGN_SYSTEM.md
  docs/README.md
  docs/STYLE_GUIDE.md
  tests/test_seed_themes.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

test(catalogue): isolate the ceiling fixtures in their own family
  tests/test_catalogue_level_ceiling.py
Due: deprecated-sqlalchemy-query-get

fix(seed): reseeding no longer aborts on a played database
  app/seed_items.py
  docs/TESTING.md
  tests/conftest.py
  tests/test_reseed_survives_floor_loot.py
Due: deprecated-sqlalchemy-query-get

feat(loot): monsters drop the loot their catalogue entry promises
  app/loot/tables.py
  app/services/loot_service.py
  tests/test_named_loot_tables.py
Due: deprecated-sqlalchemy-query-get

fix(spawns): high-level parties meet real monsters, not nameless stubs
  app/services/spawn_service.py
  tests/test_catalogue_level_ceiling.py
Due: deprecated-sqlalchemy-query-get

chore: auto bump version to 0.8.2
  CHANGELOG.md
  VERSION
Due: none

fix(ui): character panels show live HP/MP instead of a frozen snapshot
  app/routes/dungeon_api.py
  app/static/js/adventure-controls.js
  app/static/js/adventure.js
  app/templates/adventure.html
  docs/superpowers/specs/2026-07-28-adventure-hud-layout-design.md
  tests/test_live_party_panel.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

fix(loot): make the end-of-combat distribution dialog clickable
  app/routes/loot_api.py
  app/static/js/loot-distribution.js
  tests/test_loot_distribution_dialog.py
Due: deprecated-sqlalchemy-query-get

fix(admin): deleting a user account no longer fails on its own data
  app/server.py
  app/services/character_service.py
  tests/test_character_deletion_and_dead_roster.py
  tests/test_spawn_integration_catalog.py
  tests/test_spawn_integration_theming.py
  tests/test_spawn_service_family_filter.py
Due: deprecated-sqlalchemy-query-get

fix(ui): size the dungeon map from the viewport so it fits a 1366x768 screen
  app/static/css/app.css
Due: none

fix(loot): confirming a distribution no longer 500s
  app/routes/loot_api.py
  tests/test_loot_distribution_dialog.py
Due: deprecated-sqlalchemy-query-get

docs: record the overnight fixes in the playtest triage and TODO
  docs/superpowers/TODO.md
  docs/superpowers/plans/2026-07-27-playtest-triage.md
Due: none

test(spawns): stop the ceiling test depending on the global catalogue
  tests/test_spawn_integration_catalog.py
Due: deprecated-sqlalchemy-query-get

docs(combat): keep encumbrance, and separate movement from the action budget
  docs/superpowers/specs/2026-07-28-tactical-combat-design.md
Due: none

docs: spec item usage in combat
  docs/superpowers/TODO.md
  docs/superpowers/specs/2026-07-28-combat-item-usage-design.md
Due: none

docs: bring the paper doll and character panels into the redesign
  docs/superpowers/TODO.md
  docs/superpowers/specs/2026-07-28-adventure-hud-layout-design.md
  docs/superpowers/specs/2026-07-28-character-panel-redesign.md
Due: none

fix(inventory): lock equipment changes during a fight
  app/routes/inventory_api.py
  tests/test_equipment_locked_in_combat.py
Due: deprecated-sqlalchemy-query-get

docs(combat): settle the rules — movement, reach, fleeing, grid
  docs/superpowers/specs/2026-07-28-tactical-combat-design.md
Due: none

docs(hud): decide the navbar question — drop the links, keep an account anchor
  docs/superpowers/specs/2026-07-28-adventure-hud-layout-design.md
Due: none

docs(combat): record the action economy, and a loophole it exposes
  docs/superpowers/specs/2026-07-28-character-panel-redesign.md
  docs/superpowers/specs/2026-07-28-tactical-combat-design.md
Due: none

docs(hud): renumber open questions after the navbar decision
  docs/superpowers/specs/2026-07-28-adventure-hud-layout-design.md
Due: none

docs: spec tactical combat as a zoom into the occupied map tile
  docs/superpowers/TODO.md
  docs/superpowers/specs/2026-07-28-adventure-hud-layout-design.md
  docs/superpowers/specs/2026-07-28-tactical-combat-design.md
Due: none

Path conditions:
  inline-style-check: any of: \.(html|htm|xhtml)$
  inline-script-check: any of: \.(html|htm|xhtml)$
  manual-version-token-check: any of: \.(html|htm|xhtml)$
  optimize_svgs: any of: \\.(svg)$
  deprecated-sqlalchemy-query-get: any of: \.py$
