Repository zebadrabbit/Adventure: changes, and which pre-commit hooks are due for each by the changed paths.
All: inline-style-check, inline-script-check, manual-version-token-check, optimize_svgs, deprecated-sqlalchemy-query-get

inline-style-check:
  name: Inline style attribute check
  entry: python scripts/check_inline_styles.py
  language: system
  pass_filenames: false

inline-script-check:
  name: Inline script block check
  entry: python scripts/check_inline_scripts.py
  language: system
  pass_filenames: false

manual-version-token-check:
  name: Manual static version token check
  entry: python scripts/check_static_version_tokens.py
  language: system
  pass_filenames: false

optimize_svgs:
  name: Optimize SVG assets
  entry: python scripts/optimize_svgs.py
  language: system
  stages:
  - commit

deprecated-sqlalchemy-query-get:
  name: Deprecated SQLAlchemy Query.get usage
  entry: python scripts/check_deprecated_query_get.py
  language: system
  pass_filenames: false

fix(paper-doll): close the final review — potions, panel padding, race guard
  app/routes/dashboard_helpers.py
  app/static/css/equipment.css
  app/static/css/party-management.css
  app/static/css/theme.css
  app/static/js/adventure-controls.js
  app/static/js/equipment-panel.js
  app/templates/adventure.html
  tests/test_bag_potion_consumption.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

fix(paper-doll): close the re-review — held keys, reload target, rail, ring
  app/static/css/equipment.css
  app/static/js/equipment-panel.js
  e2e/test_smoke.py
Due: deprecated-sqlalchemy-query-get

docs: fold the 2026-07-28 review findings into the TODO and specs
  docs/superpowers/TODO.md
  docs/superpowers/specs/2026-07-28-character-panel-redesign.md
  docs/superpowers/specs/2026-07-28-combat-item-usage-design.md
Due: none

docs(spec,plan): potion effect resolver
  docs/superpowers/plans/2026-07-29-potion-effect-resolver.md
  docs/superpowers/specs/2026-07-28-combat-item-usage-design.md
Due: none

feat(items): one resolver for what a potion does
  app/services/item_effects.py
  tests/test_item_effect_resolver.py
Due: deprecated-sqlalchemy-query-get

fix(tests): make the catalogue guard a property, not a magic number
  tests/test_item_effect_resolver.py
Due: deprecated-sqlalchemy-query-get

fix(combat): resolve potions properly, and stop the infinite heal
  app/routes/combat_api.py
  app/services/combat_service.py
  tests/test_combat_actions.py
Due: deprecated-sqlalchemy-query-get

fix(combat): close four item_counts/clamp asymmetries from review
  app/routes/combat_api.py
  app/services/combat_service.py
Due: deprecated-sqlalchemy-query-get

fix(inventory): one potion, one effect, in or out of a fight
  app/routes/inventory_api.py
  tests/test_potion_use_parity.py
Due: deprecated-sqlalchemy-query-get

feat(combat): list the potions you actually carry
  app/static/css/combat.css
  app/static/js/combat.js
  app/templates/combat.html
  e2e/test_smoke.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

fix(combat): carry effect kind server-side instead of guessing it from a name
  app/routes/combat_api.py
  app/services/combat_service.py
  app/static/css/combat.css
  app/static/js/combat.js
  e2e/test_smoke.py
Due: deprecated-sqlalchemy-query-get

docs(todo): potion resolver landed; record the mechanics still missing
  docs/superpowers/TODO.md
Due: none

fix(potions): close the whole-branch review
  app/routes/combat_api.py
  app/routes/inventory_api.py
  app/services/combat_service.py
  app/services/item_effects.py
  app/static/js/combat.js
  tests/test_bag_potion_consumption.py
  tests/test_combat_reward_inventory_shape.py
  tests/test_potion_use_parity.py
  tests/test_potions_per_character.py
Due: deprecated-sqlalchemy-query-get

docs(todo): record the doubled combat loot grant
  docs/superpowers/TODO.md
Due: none

fix(loot): stop granting every combat drop twice
  app/services/combat_service.py
  docs/superpowers/TODO.md
  tests/test_combat_reward_inventory_shape.py
Due: deprecated-sqlalchemy-query-get

docs(spec,plan): class colour unification
  docs/superpowers/plans/2026-07-29-class-colour-unification.md
  docs/superpowers/specs/2026-07-29-class-colour-unification-design.md
Due: none

feat(tokens): twelve distinct class hues, with bg/fg/border derived
  app/static/css/tokens.css
  tests/test_class_colour_tokens.py
Due: deprecated-sqlalchemy-query-get

docs(spec,plan): correct the class-colour diagnosis
  docs/superpowers/plans/2026-07-29-class-colour-unification.md
  docs/superpowers/specs/2026-07-29-class-colour-unification-design.md
Due: none

refactor(css): one source for class colours
  app/routes/config_api.py
  app/static/css/app.css
  app/static/css/base.css
  app/static/css/class-badges.css
  app/static/css/classes.css
  app/static/css/dashboard.css
  app/static/css/theme.css
  app/static/js/adventure.js
  app/templates/adventure.html
  tests/test_config_api_invalid.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

fix(css): stop the class-badge specificity guard from reintroducing itself
  app/static/css/dashboard.css
  docs/DESIGN_SYSTEM.md
Due: none

docs: class colours unified; record the icon gap it exposed
  app/static/css/dashboard.css
  docs/DESIGN_SYSTEM.md
  docs/superpowers/TODO.md
Due: none

fix(css): delete the eighth class palette, live on /combat
  app/static/css/combat.css
  app/static/css/dashboard.css
  app/static/css/glass-theme.css
  app/static/css/theme.css
  tests/test_class_colour_tokens.py
Due: deprecated-sqlalchemy-query-get

docs(css): correct what the class-colour docs claim
  app/static/css/equipment.css
  app/static/css/tokens.css
  docs/DESIGN_SYSTEM.md
  docs/DEVELOPMENT.md
  docs/superpowers/TODO.md
Due: none

fix(tests): close the holes in the class-colour guard
  app/static/css/dashboard.css
  app/static/css/theme.css
  docs/DESIGN_SYSTEM.md
  docs/DEVELOPMENT.md
  tests/test_class_colour_tokens.py
Due: deprecated-sqlalchemy-query-get

chore: auto bump version to 0.8.5
  CHANGELOG.md
  VERSION
Due: none

fix(inventory,shrine): stop losing items and restoring nothing
  app/dungeon/room_events.py
  app/inventory/utils.py
  app/routes/inventory_api.py
  app/websockets/game.py
  tests/test_gear_swap_preserves_items.py
  tests/test_room_events_resolution.py
Due: deprecated-sqlalchemy-query-get

fix(hud): sync the camera target, unbreak the log, delete a dead readout
  app/static/css/adventure-hud.css
  app/static/js/adventure-controls.js
  app/static/js/adventure.js
  app/static/js/dungeon-canvas.js
  app/templates/adventure.html
  e2e/test_smoke.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

docs(todo): close the live-defect block, record what it turned up
  docs/superpowers/TODO.md
Due: none

feat(hud): delete the Party Stash button
  app/static/css/adventure-hud.css
  app/static/css/theme.css
  app/static/js/adventure-controls.js
  app/templates/adventure.html
  docs/superpowers/TODO.md
  tests/test_adventure_hud.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

chore: auto bump version to 0.8.6
  CHANGELOG.md
  VERSION
Due: none

feat(inventory): hand an item to another party member
  app/routes/inventory_api.py
  app/static/css/adventure-hud.css
  app/static/js/equipment-panel.js
  docs/superpowers/TODO.md
  e2e/test_smoke.py
  tests/test_item_give.py
Due: deprecated-sqlalchemy-query-get

chore: clear the verified-dead code and the token drift
  app/dungeon/api_helpers/treasure.py
  app/routes/dashboard_helpers.py
  app/routes/dungeon_api.py
  app/static/css/adventure-hud.css
  app/static/css/dashboard.css
  app/static/css/equipment.css
  app/static/css/glass-theme.css
  app/static/css/tactical-theme.css
  app/static/css/theme.css
  app/static/css/tokens.css
  app/static/js/equipment-panel.js
  app/templates/partials/account_anchor.html
  docs/DESIGN_SYSTEM.md
  docs/DEVELOPMENT.md
  docs/superpowers/TODO.md
  scripts/screenshot_adventure.py
  scripts/screenshot_help.py
  scripts/screenshot_storyboard.py
  sql/README.md
  tests/test_class_colour_tokens.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

chore: auto bump version to 0.8.7
  CHANGELOG.md
  VERSION
Due: none

feat(combat): the engine fields a pack, not one monster
  app/models/models.py
  app/routes/combat_api.py
  app/services/combat_service.py
  app/websockets/combat.py
  docs/superpowers/plans/2026-07-30-combat-multi-enemy.md
  migrations/versions/d7e2c4a91b30_add_monsters_json_to_combat_session.py
  tests/test_combat_multi_enemy.py
Due: deprecated-sqlalchemy-query-get

feat(combat): monsters act as themselves, and the screen shows the pack
  app/models/models.py
  app/services/combat_service.py
  app/static/css/combat.css
  app/static/js/combat.js
  app/templates/combat.html
  docs/superpowers/plans/2026-07-30-combat-multi-enemy.md
  e2e/test_smoke.py
  tests/test_combat_multi_enemy.py
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

feat(combat): an encounter can field the pack, off by default
  app/dungeon/api_helpers/encounters.py
  app/dungeon/spawn_manager.py
  app/services/combat_service.py
  docs/superpowers/TODO.md
  docs/superpowers/plans/2026-07-30-combat-multi-enemy.md
  tests/test_collision_combat.py
Due: deprecated-sqlalchemy-query-get

chore: auto bump version to 0.8.8
  CHANGELOG.md
  VERSION
Due: none

refactor(party): remove the shared party inventory
  app/models/party.py
  app/routes/party_api.py
  app/services/character_service.py
  app/static/css/party-management.css
  app/static/js/party-management.js
  app/templates/dashboard.html
  docs/superpowers/TODO.md
  migrations/versions/e4a91c73b2d8_drop_party_shared_inventory.py
  sql/README.md
Due: inline-style-check, inline-script-check, manual-version-token-check, deprecated-sqlalchemy-query-get

fix(spawn): stop handing out nameless, worthless monsters
  app/dungeon/api_helpers/encounters.py
  app/services/spawn_service.py
  docs/superpowers/TODO.md
  sql/monsters_seed.sql
  tests/test_collision_combat.py
  tests/test_monster_catalogue_coverage.py
Due: deprecated-sqlalchemy-query-get

chore: auto bump version to 0.8.9
  CHANGELOG.md
  VERSION
Due: none

Path conditions:
  inline-style-check: any of: \.(html|htm|xhtml)$
  inline-script-check: any of: \.(html|htm|xhtml)$
  manual-version-token-check: any of: \.(html|htm|xhtml)$
  optimize_svgs: any of: \\.(svg)$
  deprecated-sqlalchemy-query-get: any of: \.py$
